Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*

ci: Fix release Jenkinsfile
  Jenkinsfile.general.release
Due: none

ci: Remove misplaced git command in release Jenkinsfile
  Jenkinsfile.general.release
Due: none

ci: Fix params usage for release Jenkinsfile
  Jenkinsfile.general.release
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/flow-diagram/CHANGELOG.md
  packages/flow-diagram/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

ci: Change merge strategy for git commands on release
  Jenkinsfile.general.release
Due: none

ci: Move git commands around for proper auth
  Jenkinsfile.general.release
Due: none

ci: Temporary fix to release
  Jenkinsfile.general.release
Due: none

ci: Temporary fix to release, 2nd attempt
  Jenkinsfile.general.release
Due: none

chore(release): publish alpha build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/flow-diagram/CHANGELOG.md
  packages/flow-diagram/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish alpha build
  CHANGELOG.md
  package.json
Due: none

ci: Temporary fix to release, 3rd attempt
  Jenkinsfile.general.release
Due: none

ci: Temporary fix to release, 4th attempt
  Jenkinsfile.general.release
Due: none

ci: Temporary fix to release, 5th attempt
  Jenkinsfile.general.release
Due: none

ci: Temporary fix to release, 6th attempt
  Jenkinsfile.general.release
Due: none

fix: [UIP-5026] Infinite Loading List requests page 2 instantly
  src/components/ListView/ListView.stories.js
Due: none

fix: [UIP-5026] Infinite Loading List requests page 2 instantly
  packages/astro/src/components/ListView/ListView.stories.js
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish alpha build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5039] IconButton Square Variant
  packages/astro/src/components/IconButton/IconButton.stories.js
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5039] IconButton Square Variant
  src/components/IconButton/IconButton.stories.js
  src/styles/variants/buttons.js
Due: none

fix: [UIP-5007] ComboBoxField controlled custom input throws an exception
  src/components/ComboBoxField/ComboBoxField.js
  src/components/ComboBoxField/ComboBoxField.stories.js
  src/components/ComboBoxField/ComboBoxField.test.js
Due: none

fix: [UIP-5007] ComboBoxField controlled custom input throws an exception
  packages/astro/src/components/ComboBoxField/ComboBoxField.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.stories.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-4992] Fix SelectField Warnings
  src/components/ListBox/Option.js
Due: none

fix: [UIP-4992] Fix SelectField Warnings
  packages/astro/src/components/ListBox/Option.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5030] Components shouldn't have a default aria-label
  src/components/AccordionGridItem/AccordionGridItemBody.js
  src/components/AccordionGridItem/AccordionGridItemHeader.js
  src/components/AccordionGroup/AccordionGroup.test.js
  src/components/AccordionItem/AccordionItem.js
  src/components/Button/Button.js
  src/components/Button/Button.stories.js
  src/components/Button/Button.test.js
  src/components/ColorField/ColorField.js
  src/components/IconButton/IconButton.js
  src/components/IconButton/IconButton.test.js
  src/components/ImageUploadField/ImagePreviewButton.js
  src/components/ListBox/ListBox.js
  src/components/ListBox/ListBox.test.js
  src/components/MultivaluesField/MultivaluesField.js
Due: none

fix: [UIP-5030] Components shouldn't have a default aria-label
  packages/astro/src/components/AccordionGridItem/AccordionGridItemBody.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItemHeader.js
  packages/astro/src/components/AccordionGroup/AccordionGroup.test.js
  packages/astro/src/components/AccordionItem/AccordionItem.js
  packages/astro/src/components/Button/Button.js
  packages/astro/src/components/Button/Button.stories.js
  packages/astro/src/components/Button/Button.test.js
  packages/astro/src/components/ColorField/ColorField.js
  packages/astro/src/components/IconButton/IconButton.js
  packages/astro/src/components/IconButton/IconButton.test.js
  packages/astro/src/components/ImageUploadField/ImagePreviewButton.js
  packages/astro/src/components/ListBox/ListBox.js
  packages/astro/src/components/ListBox/ListBox.test.js
  packages/astro/src/components/MultivaluesField/MultivaluesField.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5012] truncate yaxis label
  packages/ui-library/src/components/general/charting/ColumnChart.jsx
Due: backstop

chore(release): publish alpha build
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: backstop

fix: [UIP-5070] Icons for warning and error messages are reversed
  src/components/Messages/Message.js
Due: none
