Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

auto_accept_chromatic:
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run chromatic -- --auto-accept-changes --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro

fix: [UIP-5070] Icons for warning and error messages are reversed
  packages/astro/src/components/Messages/Message.js
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish alpha build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish alpha build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5109] AccordionGroup OverlayPanel Compatibility Fix
  src/components/AccordionGridGroup/AccordionGridGroup.test.js
  src/components/AccordionGroup/AccordionGroup.test.js
  src/components/AccordionItem/AccordionItem.js
  src/components/OverlayPanel/OverlayPanel.stories.js
  src/components/PopoverContainer/PopoverContainer.test.js
  src/styles/variants/accordion.js
Due: none

fix: [UIP-5109] AccordionGroup OverlayPanel Compatibility Fix
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.test.js
  packages/astro/src/components/AccordionGroup/AccordionGroup.test.js
  packages/astro/src/components/AccordionItem/AccordionItem.js
  packages/astro/src/components/OverlayPanel/OverlayPanel.stories.js
  packages/astro/src/components/PopoverContainer/PopoverContainer.test.js
  packages/astro/src/styles/variants/accordion.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5017] SearchBar may not fit AdditionalControls at screen width 1000px
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_Search_Bar_0_output_0_Large_height_standard_width.png
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_Search_Bar__enter-value_0_output_0_Large_height_standard_width.png
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_Search_Bar__open-filters_0_output_0_Large_height_standard_width.png
  packages/ui-library/src/css/_searchbar.scss
  packages/ui-library/src/demo/components/forms/FormSearchBarDemo.jsx
Due: backstop

chore(release): publish alpha build
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: backstop

fix: [UIP-5177] Icon Button Color Update
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5177] Icon Button Color Update
  src/styles/variants/buttons.js
Due: none

fix: [UIP-5180] File Upload Field Update Document Icon Color
  src/components/FileInputField/FileItem.js
Due: none

fix: [UIP-5180] File Upload Field Update Document Icon Color
  packages/astro/src/components/FileInputField/FileItem.js
Due: build-no-lockfile, auto_accept_chromatic

ci: Remove changelog and tag generation from prereleases and fix release script post-1.0.0
  Jenkinsfile.general.prerelease
  Jenkinsfile.general.release
Due: none

fix: [UIP-4219] grey color for selected environment entry in environment selector of NavFrameAstro
  packages/ui-library/src/css/layout/_nav-frame.scss
Due: backstop

fix: [UIP-5179] Multivalues Chip Spacing Improvements
  src/components/MultivaluesField/MultivaluesField.js
  src/styles/variants/buttons.js
Due: none

fix: [UIP-5179] Multivalues Chip Spacing Improvements
  packages/astro/src/components/MultivaluesField/MultivaluesField.js
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5067] CodeView component
  package.json
  src/components/CodeView/CodeView.js
  src/components/CodeView/CodeView.stories.js
  src/components/CodeView/CodeView.test.js
  src/components/CodeView/index.js
  src/components/CopyText/CopyText.js
  src/components/TooltipTrigger/TooltipTrigger.js
  src/index.js
  src/styles/variants/codeView.js
  src/styles/variants/variants.js
Due: none

feat: [UIP-5067] CodeView component
  packages/astro/package.json
  packages/astro/src/components/CodeView/CodeView.js
  packages/astro/src/components/CodeView/CodeView.stories.js
  packages/astro/src/components/CodeView/CodeView.test.js
  packages/astro/src/components/CodeView/index.js
  packages/astro/src/components/CopyText/CopyText.js
  packages/astro/src/components/TooltipTrigger/TooltipTrigger.js
  packages/astro/src/index.js
  packages/astro/src/styles/variants/codeView.js
  packages/astro/src/styles/variants/variants.js
  yarn.lock
Due: build-no-lockfile, auto_accept_chromatic

ci: Debug Jenkins issue
  Jenkinsfile.general.prerelease
Due: none

ci: More debugging for Jenkins issue
  Jenkinsfile.general.prerelease
Due: none

ci: Fix unexpected token for opening parenthesis on Jenkins
  Jenkinsfile.general.prerelease
Due: none

ci: Change git commands to address all packages being updated falsely
  Jenkinsfile.general.prerelease
Due: none

ci: Update lerna changed command and fix git push
  Jenkinsfile.general.prerelease
Due: none

ci: Remove Lerna changed command from prerelease Jenkinsfile since it returned exit code 1
  Jenkinsfile.general.prerelease
Due: none

ci: Simplify version command
  Jenkinsfile.general.prerelease
Due: none

feat: [UIP-4876] Astro NavBar
  src/components/NavBar/NavBar.js
  src/components/NavBar/NavBar.stories.js
  src/components/NavBar/NavBar.test.js
  src/components/NavBar/index.js
  src/components/NavBarSection/NavBarItemBody.js
  src/components/NavBarSection/NavBarItemHeader.js
  src/components/NavBarSection/NavBarSection.js
  src/components/NavBarSection/index.js
  src/components/Separator/Separator.js
  src/index.js
  src/styles/variants/accordion.js
  src/styles/variants/boxes.js
  src/styles/variants/buttons.js
  src/styles/variants/link.js
  src/styles/variants/separator.js
  src/styles/variants/text.js
Due: none

feat: [UIP-4876] Astro NavBar
  packages/astro/src/components/NavBar/NavBar.js
  packages/astro/src/components/NavBar/NavBar.stories.js
  packages/astro/src/components/NavBar/NavBar.test.js
  packages/astro/src/components/NavBar/index.js
  packages/astro/src/components/NavBarSection/NavBarItemBody.js
  packages/astro/src/components/NavBarSection/NavBarItemHeader.js
  packages/astro/src/components/NavBarSection/NavBarSection.js
  packages/astro/src/components/NavBarSection/index.js
  packages/astro/src/components/Separator/Separator.js
  packages/astro/src/index.js
  packages/astro/src/styles/variants/accordion.js
  packages/astro/src/styles/variants/boxes.js
  packages/astro/src/styles/variants/buttons.js
  packages/astro/src/styles/variants/link.js
  packages/astro/src/styles/variants/separator.js
  packages/astro/src/styles/variants/text.js
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish alpha build
  packages/astro/package.json
Due: build-no-lockfile, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*
