Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

auto_accept_chromatic:
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run chromatic -- --auto-accept-changes --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro

fix: Hotfix patch for 2022-04-14 release
  src/components/AstroWrapper/AstroWrapper.stories.js
Due: none

fix: Hotfix patch for 2022-04-14 release
  packages/astro/src/components/AstroWrapper/AstroWrapper.stories.js
  packages/charting/src/components/HeatMap/HeatMap.jsx
  packages/end-user/src/components/Dropdown/Dropdown.js
  packages/flow-diagram/src/components/NonRealtimeDraggingTool/NonRealtimeDraggingTool.js
  packages/schema-form/stories/Dropdown.stories.mdx
  packages/ui-library/src/components/forms/IconSelector.jsx
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/charting/CHANGELOG.md
  packages/charting/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/flow-diagram/CHANGELOG.md
  packages/flow-diagram/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/charting/package.json
  packages/end-user/package.json
  packages/flow-diagram/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish alpha build
  package.json
Due: none

fix: [UIP-5394] Eye icon is misplaced on Password field form
  packages/end-user/src/css/components/_text-input.scss
Due: none

feat: [UIP-5383] Remove box shadow on button focus
  src/styles/variants/buttons.js
Due: none

feat: [UIP-5383] Remove box shadow on button focus
  packages/astro/src/styles/variants/buttons.js
  packages/schema-form/src/components/tests/snapshot/__snapshots__/SchemaForm.test.js.snap
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5388] Password Reveal Not Focusable After Input Focus
  packages/end-user/src/components/Dropdown/Dropdown.js
  packages/end-user/src/components/PasswordInput/PasswordInput.js
  packages/end-user/src/components/TextInput/TextInput.js
  packages/end-user/src/css/components/_text-input.scss
  packages/end-user/src/css/styles.scss
Due: none

chore: merge master into develop
  CHANGELOG.md
  package.json
  src/components/AstroWrapper/AstroWrapper.stories.js
Due: none

chore: merge master into develop
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/astro/src/components/AstroWrapper/AstroWrapper.stories.js
  packages/charting/CHANGELOG.md
  packages/charting/package.json
  packages/charting/src/components/HeatMap/HeatMap.jsx
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/end-user/src/components/Dropdown/Dropdown.js
  packages/flow-diagram/CHANGELOG.md
  packages/flow-diagram/package.json
  packages/flow-diagram/src/components/NonRealtimeDraggingTool/NonRealtimeDraggingTool.js
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/schema-form/stories/Dropdown.stories.mdx
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
  packages/ui-library/src/components/forms/IconSelector.jsx
Due: build-no-lockfile, backstop, auto_accept_chromatic

fix: [UIP-5348] NumberField keyboard interactions not working in external projects
  packages/astro/package.json
  yarn.lock
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5348] NumberField keyboard interactions not working in external projects
  package.json
Due: none

fix: [UIP-5392] clicking input status icon sets focus inside
  packages/end-user/src/css/_mixins.scss
  packages/end-user/src/css/components/_text-input.scss
Due: none

fix: [UIP-5412] Fix autocomplete for Astro and Schema Form
  src/components/PasswordField/PasswordField.js
  src/components/SearchField/SearchField.js
  src/components/SearchField/SearchField.stories.js
  src/components/TextAreaField/TextAreaField.js
  src/components/TextField/TextField.js
  src/hooks/useField/useField.js
  src/hooks/useField/useField.test.js
Due: none

fix: [UIP-5412] Fix autocomplete for Astro and Schema Form
  packages/astro/src/components/PasswordField/PasswordField.js
  packages/astro/src/components/SearchField/SearchField.js
  packages/astro/src/components/SearchField/SearchField.stories.js
  packages/astro/src/components/TextAreaField/TextAreaField.js
  packages/astro/src/components/TextField/TextField.js
  packages/astro/src/hooks/useField/useField.js
  packages/astro/src/hooks/useField/useField.test.js
  packages/schema-form/src/components/tests/PasswordWithRequirements.test.js
  packages/schema-form/src/utils/astro.js
  packages/schema-form/stories/PasswordWithRequirements.stories.js
  yarn.lock
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5322] Add Heatmap Chart Component
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_Heatmap_Chart_0_output_0_Large_height_standard_width.png
  packages/ui-library/src/components/general/charting/HeatmapChart.jsx
  packages/ui-library/src/css/layout/_charts.scss
  packages/ui-library/src/demo/components/general/charting/HeatmapChartDemo.jsx
  packages/ui-library/src/demo/components/general/charting/demoHeatmapChartData.json
  packages/ui-library/src/demo/core/demos.js
Due: backstop

feat: [UIP-5334] add container widths to box
  packages/astro/src/components/Box/Box.stories.js
  packages/astro/src/components/OverlayPanel/OverlayPanel.js
  packages/astro/src/styles/theme.js
  packages/astro/src/styles/variants/overlayPanel.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5334] add container widths to box
  src/components/Box/Box.stories.js
  src/components/OverlayPanel/OverlayPanel.js
  src/styles/theme.js
  src/styles/variants/overlayPanel.js
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5300] Multiple inputs not focusable within AccordionGridGroup
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.stories.js
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.test.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItem.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItemBody.js
  packages/astro/src/styles/variants/accordion.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5300] Multiple inputs not focusable within AccordionGridGroup
  src/components/AccordionGridGroup/AccordionGridGroup.stories.js
  src/components/AccordionGridGroup/AccordionGridGroup.test.js
  src/components/AccordionGridItem/AccordionGridItem.js
  src/components/AccordionGridItem/AccordionGridItemBody.js
  src/styles/variants/accordion.js
Due: none

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*
