Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish alpha build
  package.json
Due: none

feat: [UIP-5293] Remove end user and update password field validation
  package.json
  packages/charting/package.json
  packages/flow-diagram/package.json
  packages/schema-form/.storybook/main.js
  packages/schema-form/README_DEV.md
  packages/schema-form/__mocks__/react-markdown.js
  packages/schema-form/package.json
  packages/schema-form/src/components/Checkboxes.js
  packages/schema-form/src/components/Markdown.js
  packages/schema-form/src/components/ObjectFieldTemplate.js
  packages/schema-form/src/components/tests/AstroPasswordWithRequirements.test.js
  packages/schema-form/src/components/tests/PasswordWithRequirements.test.js
  packages/schema-form/src/components/tests/SchemaForm.test.js
  packages/schema-form/src/components/tests/snapshot/SchemaForm.test.js
  packages/schema-form/src/components/tests/snapshot/__snapshots__/SchemaForm.test.js.snap
  packages/schema-form/src/components/tests/utils.js
  packages/schema-form/src/components/themes/astro/Error.js
  packages/schema-form/src/components/themes/astro/PasswordWithRequirements.js
  packages/schema-form/src/utils/astro.js
  packages/schema-form/stories/PasswordWithRequirements.stories.js
  packages/ui-library/src/components/utils/FlagsProvider.jsx
  shared/babel.config.js
Due: backstop

chore(release): publish alpha build
  packages/astro/package.json
  packages/charting/package.json
  packages/end-user/package.json
  packages/flow-diagram/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

fix: [UIP-5340] NumberField whitespace issue
  packages/astro/src/components/NumberField/NumberField.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5340] NumberField whitespace issue
  src/components/NumberField/NumberField.js
Due: none

feat: [UIP-5028] UI Library Global Styles Override
  packages/astro/.storybook/preview.js
  packages/astro/src/components/AstroWrapper/AstroWrapper.js
  packages/astro/src/components/AstroWrapper/AstroWrapper.stories.js
  packages/astro/src/styles/themeOverrides/index.js
  packages/astro/src/styles/themeOverrides/uiLibraryOverride.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5028] UI Library Global Styles Override
  .storybook/preview.js
  src/components/AstroWrapper/AstroWrapper.js
  src/components/AstroWrapper/AstroWrapper.stories.js
  src/styles/themeOverrides/index.js
  src/styles/themeOverrides/uiLibraryOverride.js
Due: none

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/charting/CHANGELOG.md
  packages/charting/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/flow-diagram/CHANGELOG.md
  packages/flow-diagram/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

ci: [UIP-4929] Automate Updates to Astro Sub-Repo
  .gitlab-ci.yml
  Jenkinsfile.general.prerelease
  Jenkinsfile.general.release
  shared/docker/latest/Dockerfile
  shared/docker/stable/Dockerfile
Due: build_ci_stable_image, build_ci_latest_image

fix: Apply snapshot fixes
  packages/schema-form/src/components/tests/snapshot/__snapshots__/SchemaForm.test.js.snap
  yarn.lock
Due: none

build: hotfix for build script in Schema Form package
  packages/schema-form/package.json
  packages/schema-form/src/components/tests/snapshot/__snapshots__/SchemaForm.test.js.snap
  packages/schema-form/webpack.config.js
  yarn.lock
Due: none

fix: [UIP-5299] Nav bar fixes
  src/components/AccordionGridGroup/AccordionGridGroup.js
  src/components/AccordionGridItem/AccordionGridItem.js
  src/components/AccordionGridItem/AccordionGridItemBody.js
  src/components/AccordionGridItem/AccordionGridItemHeader.js
  src/components/AccordionGroup/AccordionGroup.stories.js
  src/components/Link/Link.js
  src/components/NavBar/NavBar.js
  src/components/NavBar/NavBar.stories.js
  src/components/NavBarSection/NavBarItem.js
  src/components/NavBarSection/NavBarItemButton.js
  src/components/NavBarSection/NavBarItemHeader.js
  src/components/NavBarSection/NavBarItemLink.js
  src/components/NavBarSection/NavBarSection.js
  src/hooks/useNavBarPress/useNavBarPress.js
  src/hooks/useNavBarPress/useNavBarPress.test.js
  src/styles/variants/accordion.js
  src/styles/variants/navBar.js
  src/styles/variants/separator.js
  src/styles/variants/text.js
Due: none

fix: [UIP-5299] Nav bar fixes
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItem.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItemBody.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItemHeader.js
  packages/astro/src/components/AccordionGroup/AccordionGroup.stories.js
  packages/astro/src/components/Link/Link.js
  packages/astro/src/components/NavBar/NavBar.js
  packages/astro/src/components/NavBar/NavBar.stories.js
  packages/astro/src/components/NavBarSection/NavBarItem.js
  packages/astro/src/components/NavBarSection/NavBarItemButton.js
  packages/astro/src/components/NavBarSection/NavBarItemHeader.js
  packages/astro/src/components/NavBarSection/NavBarItemLink.js
  packages/astro/src/components/NavBarSection/NavBarSection.js
  packages/astro/src/hooks/useNavBarPress/useNavBarPress.js
  packages/astro/src/hooks/useNavBarPress/useNavBarPress.test.js
  packages/astro/src/styles/variants/accordion.js
  packages/astro/src/styles/variants/navBar.js
  packages/astro/src/styles/variants/separator.js
  packages/astro/src/styles/variants/text.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5352] Remove tooltip from delete button
  src/components/ArrayField/ArrayField.test.js
  src/components/ArrayField/ArrayFieldDeleteButton.js
Due: none

fix: [UIP-5352] Remove tooltip from delete button
  packages/astro/src/components/ArrayField/ArrayField.test.js
  packages/astro/src/components/ArrayField/ArrayFieldDeleteButton.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5356] Accordion button background transparency
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5356] Accordion button background transparency
  src/styles/variants/buttons.js
Due: none

fix: [UIP-5220] Add typography support props for Text component
  src/components/Text/Text.js
  src/components/Text/Text.stories.js
  src/components/Text/Text.test.js
Due: none

fix: [UIP-5220] Add typography support props for Text component
  packages/astro/src/components/Text/Text.js
  packages/astro/src/components/Text/Text.stories.js
  packages/astro/src/components/Text/Text.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5335] TimezonePicker with correct offset in GMT
  src/components/TimeZonePicker/TimeZonePicker.js
Due: none

fix: [UIP-5335] TimezonePicker with correct offset in GMT
  packages/astro/src/components/TimeZonePicker/TimeZonePicker.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5336] Safari: autocomplete native icon overlaps with Reveal eye-shape button
  packages/end-user/src/css/components/_text-input.scss
Due: none

chore(release): publish stable build
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: none
