Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*

docs: Fix Link onPress error and Env Breadcrumb docs error
  src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.js
  src/components/Link/Link.js
Due: none

chore(release): publish alpha build
  package.json
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

ci: Remove merge commands due to conflicts
  Jenkinsfile.general.release
Due: none

fix: Applying changes to updated packages for so the version fixes are applied
  package.json
Due: none

fix: Applying changes to updated packages for so the version fixes are applied
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

fix: [UIP-5278] Adjust placeholder and bg color for inputs
  packages/end-user/src/css/components/_float-label.scss
Due: none

chore(release): publish stable build
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: none

ci: Testing Chromatic job 5
  Jenkinsfile.build
Due: none

ci: Convert MR pipelines to use Jenkins while GitLab CI is being worked on
  .gitlab-ci-dont-run.yml
  Jenkinsfile.build
Due: none

feat: [UIP-4607] Array field component
  .storybook/preview.js
  src/components/ArrayField/ArrayField.js
  src/components/ArrayField/ArrayField.stories.js
  src/components/ArrayField/ArrayField.test.js
  src/components/ArrayField/ArrayFieldDeleteButton.js
  src/components/ArrayField/index.js
  src/components/SelectFieldBase/SelectFieldBase.js
  src/index.js
  src/recipes/ArrayField.stories.js
Due: none

feat: [UIP-4607] Array field component
  packages/astro/.storybook/preview.js
  packages/astro/src/components/ArrayField/ArrayField.js
  packages/astro/src/components/ArrayField/ArrayField.stories.js
  packages/astro/src/components/ArrayField/ArrayField.test.js
  packages/astro/src/components/ArrayField/ArrayFieldDeleteButton.js
  packages/astro/src/components/ArrayField/index.js
  packages/astro/src/components/SelectFieldBase/SelectFieldBase.js
  packages/astro/src/index.js
  packages/astro/src/recipes/ArrayField.stories.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5146] Loader Story Update - Change "Loader With Most Common Color" to "Custom Color"
  src/components/Loader/Loader.stories.js
Due: none

fix: [UIP-5146] Loader Story Update - Change "Loader With Most Common Color" to "Custom Color"
  packages/astro/src/components/Loader/Loader.stories.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-4969] Update astro tab font size
  packages/astro/src/styles/variants/text.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-4969] Update astro tab font size
  src/styles/variants/text.js
Due: none

feat: [UIP-5228] Add Storysource and Console addons to Astro
  packages/astro/.storybook/main.js
  packages/astro/.storybook/preview.js
  packages/astro/package.json
  yarn.lock
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5228] Add Storysource and Console addons to Astro
  .storybook/main.js
  .storybook/preview.js
  package.json
Due: none

fix: [UIP-5225] Add accessible theme for CodeView using JS styles
  packages/astro/src/components/CodeView/CodeView.js
  packages/astro/src/styles/variants/codeView.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5225] Add accessible theme for CodeView using JS styles
  src/components/CodeView/CodeView.js
  src/styles/variants/codeView.js
Due: none

fix: [UIP-5150] Modal Storybook Improvements
  packages/astro/src/components/Modal/Modal.js
  packages/astro/src/components/Modal/Modal.stories.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5150] Modal Storybook Improvements
  src/components/Modal/Modal.js
  src/components/Modal/Modal.stories.js
Due: none

style: [UIP-5221] remove padding on field helper text
  packages/astro/src/components/FieldHelperText/FieldHelperText.js
  packages/astro/src/styles/variants/text.js
Due: build-no-lockfile, auto_accept_chromatic

style: [UIP-5221] remove padding on field helper text
  src/components/FieldHelperText/FieldHelperText.js
  src/styles/variants/text.js
Due: none

fix: [UIP-5281] NavBar improvements and design review changes
  src/components/AccordionGridGroup/AccordionGridGroup.js
  src/components/AccordionGridItem/AccordionGridItemBody.js
  src/components/AccordionGridItem/AccordionGridItemHeader.js
  src/components/NavBar/NavBar.js
  src/components/NavBar/NavBar.stories.js
  src/components/NavBar/NavBar.test.js
  src/components/NavBarSection/NavBarItem.js
  src/components/NavBarSection/NavBarItemButton.js
  src/components/NavBarSection/NavBarItemHeader.js
  src/components/NavBarSection/NavBarItemLink.js
  src/components/NavBarSection/NavBarSection.js
  src/components/NavBarSection/index.js
  src/context/NavBarContext/index.js
  src/hooks/index.js
  src/hooks/useNavBarPress/index.js
  src/hooks/useNavBarPress/useNavBarPress.js
  src/hooks/useNavBarPress/useNavBarPress.test.js
  src/styles/variants/accordion.js
  src/styles/variants/boxes.js
  src/styles/variants/buttons.js
  src/styles/variants/navBar.js
  src/styles/variants/separator.js
  src/styles/variants/text.js
  src/styles/variants/variants.js
Due: none

fix: [UIP-5281] NavBar improvements and design review changes
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItemBody.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItemHeader.js
  packages/astro/src/components/NavBar/NavBar.js
  packages/astro/src/components/NavBar/NavBar.stories.js
  packages/astro/src/components/NavBar/NavBar.test.js
  packages/astro/src/components/NavBarSection/NavBarItem.js
  packages/astro/src/components/NavBarSection/NavBarItemButton.js
  packages/astro/src/components/NavBarSection/NavBarItemHeader.js
  packages/astro/src/components/NavBarSection/NavBarItemLink.js
  packages/astro/src/components/NavBarSection/NavBarSection.js
  packages/astro/src/components/NavBarSection/index.js
  packages/astro/src/context/NavBarContext/index.js
  packages/astro/src/hooks/index.js
  packages/astro/src/hooks/useNavBarPress/index.js
  packages/astro/src/hooks/useNavBarPress/useNavBarPress.js
  packages/astro/src/hooks/useNavBarPress/useNavBarPress.test.js
  packages/astro/src/styles/variants/accordion.js
  packages/astro/src/styles/variants/boxes.js
  packages/astro/src/styles/variants/buttons.js
  packages/astro/src/styles/variants/navBar.js
  packages/astro/src/styles/variants/separator.js
  packages/astro/src/styles/variants/text.js
  packages/astro/src/styles/variants/variants.js
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5152] Deprecate page header component
  src/components/PageHeader/PageHeader.js
  src/components/PageHeader/PageHeader.stories.js
Due: none

fix: [UIP-5152] Deprecate page header component
  packages/astro/src/components/PageHeader/PageHeader.js
  packages/astro/src/components/PageHeader/PageHeader.stories.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-4586] Multivalue pasting value with leading space creates empty string value
  packages/ui-library/src/components/forms/Multivalues.jsx
  packages/ui-library/src/components/forms/tests/MultivaluesTest.jsx
Due: backstop

fix: [UIP-5226] MultivaluesField allow props to be spread into TextField
  src/components/MultivaluesField/MultivaluesField.js
Due: none

fix: [UIP-5226] MultivaluesField allow props to be spread into TextField
  packages/astro/src/components/MultivaluesField/MultivaluesField.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-4974] PopoverMenu items don't have unique ids or data-ids
  packages/end-user/src/components/PopoverMenu/PopoverMenu.js
  packages/end-user/src/components/PopoverMenu/PopoverMenu.story.js
  packages/end-user/src/components/PopoverMenu/PopoverMenu.test.js
Due: none

docs: [UIP-5157] Tabs - Remove orientation story
  src/components/Tabs/Tabs.stories.js
Due: none

docs: [UIP-5157] Tabs - Remove orientation story
  packages/astro/src/components/Tabs/Tabs.stories.js
Due: build-no-lockfile, auto_accept_chromatic
