Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

auto_accept_chromatic:
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run chromatic -- --auto-accept-changes --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro

fix: [UIP-5244] SelectField Storybook Updates
  src/components/SelectField/SelectField.stories.js
Due: none

fix: [UIP-5244] SelectField Storybook Updates
  packages/astro/src/components/SelectField/SelectField.stories.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5212] RadioField and CheckboxField Spacing Update
  src/components/CheckboxField/CheckboxField.js
  src/components/RadioGroupField/RadioGroupField.js
  src/styles/forms/checkbox.js
  src/styles/forms/label.js
  src/styles/forms/radio.js
  src/styles/variants/boxes.js
Due: none

fix: [UIP-5212] RadioField and CheckboxField Spacing Update
  packages/astro/src/components/CheckboxField/CheckboxField.js
  packages/astro/src/components/RadioGroupField/RadioGroupField.js
  packages/astro/src/styles/forms/checkbox.js
  packages/astro/src/styles/forms/label.js
  packages/astro/src/styles/forms/radio.js
  packages/astro/src/styles/variants/boxes.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5110] Remove ListLayout and SchemaLayout stories
  src/layouts/ListLayout.stories.js
  src/layouts/SchemaFormLayout.stories.js
Due: none

fix: [UIP-5110] Remove ListLayout and SchemaLayout stories
  packages/astro/src/layouts/ListLayout.stories.js
  packages/astro/src/layouts/SchemaFormLayout.stories.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5239] Add Storysource addon for flow-diagram
  packages/flow-diagram/.storybook/main.js
Due: none

fix: [UIP-5202] add davinci logo assets
  packages/ui-library/src/images/logo-davinci-color.png
  packages/ui-library/src/images/logo-davinci-color.svg
Due: backstop

fix: [UIP-5272] Export Astro theme as a part of Scheme Form package
  packages/schema-form/src/index.js
Due: none

fix: [UIP-5134] Multivalue doesnt show error messages
  packages/end-user/src/components/Multivalues/Multivalues.js
  packages/end-user/src/components/Multivalues/Multivalues.story.js
  packages/end-user/src/css/components/_multivalues.scss
Due: none

fix: [UIP-5178] NumberField - Spec Update
  packages/astro/src/components/Input/Input.js
  packages/astro/src/components/Input/Input.test.js
  packages/astro/src/components/NumberField/NumberField.js
  packages/astro/src/components/NumberField/NumberField.test.js
  packages/astro/src/hooks/useField/useField.js
  packages/astro/src/styles/forms/input.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5178] NumberField - Spec Update
  src/components/Input/Input.js
  src/components/Input/Input.test.js
  src/components/NumberField/NumberField.js
  src/components/NumberField/NumberField.test.js
  src/hooks/useField/useField.js
  src/styles/forms/input.js
Due: none

fix: [UIP-5241] Switch Label Text and Spacing Updates
  src/styles/forms/switch.js
Due: none

fix: [UIP-5241] Switch Label Text and Spacing Updates
  packages/astro/src/styles/forms/switch.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5291] Add Makefile to SchemaForm
  packages/schema-form/Makefile
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/flow-diagram/CHANGELOG.md
  packages/flow-diagram/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

ci: [UIP-5301] Test new Gitlab runner for pingux
  .gitlab-ci.yml
  Jenkinsfile.build
Due: none

fix: [UIP-5123] TextAreaField Content Will Overlap with Floating Label
  src/components/TextAreaField/TextAreaField.js
  src/styles/variants/boxes.js
Due: none

fix: [UIP-5123] TextAreaField Content Will Overlap with Floating Label
  packages/astro/src/components/TextAreaField/TextAreaField.js
  packages/astro/src/styles/variants/boxes.js
Due: build-no-lockfile, auto_accept_chromatic

P14C-33422: Replace #2996cc with #007CBA within packages/branding-themes
  .gitignore
  packages/branding-themes/themes/default/default.theme.json
  packages/branding-themes/themes/focus/focus.theme.json
  packages/branding-themes/themes/mural/mural.theme.json
Due: none

chore(release): publish alpha build
  packages/branding-themes/package.json
Due: none

fix: [UIP-5306] Unable to get custom values from MultivaluesField
  packages/astro/src/components/MultivaluesField/MultivaluesField.js
  packages/astro/src/components/MultivaluesField/MultivaluesField.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5306] Unable to get custom values from MultivaluesField
  src/components/MultivaluesField/MultivaluesField.js
  src/components/MultivaluesField/MultivaluesField.test.js
Due: none

chore(release): publish alpha build
  package.json
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/branding-themes/package.json
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5243] SelectField Float Label Issue
  packages/astro/src/components/SelectFieldBase/SelectFieldBase.js
  packages/astro/src/components/SelectFieldBase/SelectFieldBase.test.js
  packages/astro/src/hooks/useSelectField/useSelectField.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5243] SelectField Float Label Issue
  src/components/SelectFieldBase/SelectFieldBase.js
  src/components/SelectFieldBase/SelectFieldBase.test.js
  src/hooks/useSelectField/useSelectField.js
Due: none

fix: [UIP-5211] Update Masked Value Recipe
  packages/astro/src/recipes/MaskedValue.stories.js
  packages/astro/src/styles/variants/text.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5211] Update Masked Value Recipe
  src/recipes/MaskedValue.stories.js
  src/styles/variants/text.js
Due: none

feat: [UIP-5038] Inline edit recipe using TextAreaField component
  commit_lint.sh
  packages/astro/src/recipes/EditableInput.stories.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5038] Inline edit recipe using TextAreaField component
  src/recipes/EditableInput.stories.js
Due: none

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*
