Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

auto_accept_chromatic:
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run chromatic -- --auto-accept-changes --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro

fix: [UIP-5338] ComboBox Improvements
  src/components/ComboBoxField/ComboBoxField.js
  src/components/ComboBoxField/ComboBoxField.stories.js
  src/components/ComboBoxField/ComboBoxField.test.js
  src/components/TimeZonePicker/TimeZonePicker.js
Due: none

fix: [UIP-5338] ComboBox Improvements
  packages/astro/src/components/ComboBoxField/ComboBoxField.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.stories.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.test.js
  packages/astro/src/components/TimeZonePicker/TimeZonePicker.js
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish alpha build
  packages/astro/package.json
  packages/charting/package.json
  packages/end-user/package.json
  packages/flow-diagram/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish alpha build
  package.json
Due: none

feat: [UIP-5277] MultiSelect List Container Interactive Story
  src/components/ListViewItem/ListViewItem.js
  src/components/MultiselectFilter/MultiselectFilter.js
  src/components/MultiselectFilterItem/MultiselectFilterItem.js
  src/components/MultiselectFilterItem/MultiselectFilterItem.test.js
  src/recipes/MultiselectListContainer.stories.js
  src/styles/variants/boxes.js
  src/styles/variants/multiselectListContainer.js
Due: none

feat: [UIP-5277] MultiSelect List Container Interactive Story
  packages/astro/src/components/ListViewItem/ListViewItem.js
  packages/astro/src/components/MultiselectFilter/MultiselectFilter.js
  packages/astro/src/components/MultiselectFilterItem/MultiselectFilterItem.js
  packages/astro/src/components/MultiselectFilterItem/MultiselectFilterItem.test.js
  packages/astro/src/recipes/MultiselectListContainer.stories.js
  packages/astro/src/styles/variants/boxes.js
  packages/astro/src/styles/variants/multiselectListContainer.js
Due: build-no-lockfile, auto_accept_chromatic

docs: [UIP-5382] Astrowrapper filepath
  src/components/AstroWrapper/AstroWrapper.js
Due: none

docs: [UIP-5382] Astrowrapper filepath
  packages/astro/src/components/AstroWrapper/AstroWrapper.js
Due: build-no-lockfile, auto_accept_chromatic

docs: [UIP-5305] Astro Custom Theme Docs
  src/styles/Customization.story.mdx
Due: none

docs: [UIP-5305] Astro Custom Theme Docs
  packages/astro/src/styles/Customization.story.mdx
Due: build-no-lockfile, auto_accept_chromatic

ci: Testing updates to docker images
  .gitlab-ci.yml
  Jenkinsfile.general.prerelease
  Jenkinsfile.general.release
  packages/schema-form/src/components/tests/snapshot/__snapshots__/SchemaForm.test.js.snap
  shared/docker/github/Dockerfile
  shared/docker/stable/Dockerfile
Due: build_ci_stable_image

fix: [UIP-5351] CodeView cannot import additional language
  packages/astro/package.json
  packages/astro/src/components/CodeView/CodeView.js
  packages/astro/src/components/CodeView/CodeView.stories.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5351] CodeView cannot import additional language
  package.json
  src/components/CodeView/CodeView.js
  src/components/CodeView/CodeView.stories.js
Due: none

feat: [UIP-5209] Add fallback functionality to Image
  src/components/Image/Image.js
  src/components/Image/Image.stories.js
  src/components/Image/Image.test.js
  src/components/Image/imageConstants.js
  src/components/ImageUploadField/ImageUploadField.test.js
  src/hooks/index.js
  src/hooks/useFallbackImage/index.js
  src/hooks/useFallbackImage/useFallbackImage.js
  src/hooks/useFallbackImage/useFallbackImage.test.js
Due: none

feat: [UIP-5209] Add fallback functionality to Image
  packages/astro/src/components/Image/Image.js
  packages/astro/src/components/Image/Image.stories.js
  packages/astro/src/components/Image/Image.test.js
  packages/astro/src/components/Image/imageConstants.js
  packages/astro/src/components/ImageUploadField/ImageUploadField.test.js
  packages/astro/src/hooks/index.js
  packages/astro/src/hooks/useFallbackImage/index.js
  packages/astro/src/hooks/useFallbackImage/useFallbackImage.js
  packages/astro/src/hooks/useFallbackImage/useFallbackImage.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5393] Astro ComboBoxField component mixes custom value key with text content
  src/components/ComboBoxField/ComboBoxField.stories.js
  src/components/ComboBoxField/ComboBoxField.test.js
Due: none

fix: [UIP-5393] Astro ComboBoxField component mixes custom value key with text content
  packages/astro/src/components/ComboBoxField/ComboBoxField.stories.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.test.js
Due: build-no-lockfile, auto_accept_chromatic

ci: Remove astro mirror update from prerelease
  Jenkinsfile.general.prerelease
Due: none

feat: [UIP-5060] Breadcrumb Component Improvements
  packages/astro/src/components/Breadcrumbs/BreadcrumbItem.js
  packages/astro/src/components/Breadcrumbs/Breadcrumbs.js
  packages/astro/src/components/Breadcrumbs/Breadcrumbs.stories.js
  packages/astro/src/components/Breadcrumbs/Breadcrumbs.test.js
  packages/astro/src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.js
  packages/astro/src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.test.js
  packages/astro/src/styles/variants/buttons.js
  packages/astro/src/styles/variants/text.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5060] Breadcrumb Component Improvements
  src/components/Breadcrumbs/BreadcrumbItem.js
  src/components/Breadcrumbs/Breadcrumbs.js
  src/components/Breadcrumbs/Breadcrumbs.stories.js
  src/components/Breadcrumbs/Breadcrumbs.test.js
  src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.js
  src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.test.js
  src/styles/variants/buttons.js
  src/styles/variants/text.js
Due: none

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/charting/CHANGELOG.md
  packages/charting/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/flow-diagram/CHANGELOG.md
  packages/flow-diagram/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*
