Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*

chore(release): publish alpha build
  packages/astro/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish alpha build
  package.json
Due: none

feat: [UIP-5397] ArrayField Component - Allow a limit on the number of Fields
  src/components/ArrayField/ArrayField.js
  src/components/ArrayField/ArrayField.stories.js
  src/components/ArrayField/ArrayField.test.js
Due: none

feat: [UIP-5397] ArrayField Component - Allow a limit on the number of Fields
  packages/astro/src/components/ArrayField/ArrayField.js
  packages/astro/src/components/ArrayField/ArrayField.stories.js
  packages/astro/src/components/ArrayField/ArrayField.test.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5401] Add initial Slider recipe
  packages/astro/package.json
  packages/astro/src/recipes/Slider.stories.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5401] Add initial Slider recipe
  package.json
  src/recipes/Slider.stories.js
Due: none

fix: [UIP-5408] float label Tweaks
  src/components/SelectFieldBase/SelectFieldBase.test.js
  src/hooks/useField/useField.js
  src/hooks/useField/useField.test.js
  src/styles/forms/label.js
Due: none

fix: [UIP-5408] float label Tweaks
  packages/astro/src/components/SelectFieldBase/SelectFieldBase.test.js
  packages/astro/src/hooks/useField/useField.js
  packages/astro/src/hooks/useField/useField.test.js
  packages/astro/src/styles/forms/label.js
  packages/schema-form/src/components/tests/snapshot/__snapshots__/SchemaForm.test.js.snap
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-3958] Add Schema Form Storybook demo to internal portal
  packages/schema-form/hosting/fetchVersions.js
  packages/schema-form/hosting/redirects/Makefile
  packages/schema-form/hosting/redirects/index.js
  packages/schema-form/hosting/redirects/webpack.config.js
  packages/schema-form/package.json
  packages/ui-library/hosting/redirects/redirects.js
  packages/ui-library/src/demo/Demo.jsx
  shared/portal-docs/new-demo/Jenkinsfile.ping-eng.sample
  shared/portal-docs/new-demo/Makefile
  shared/portal-docs/new-demo/README.md
  shared/portal-docs/new-demo/hosting/fetchVersions.js
  shared/portal-docs/new-demo/hosting/redirects/Makefile
  shared/portal-docs/new-demo/hosting/redirects/index.js
  shared/portal-docs/new-demo/hosting/redirects/webpack.config.js
Due: backstop

chore(release): publish alpha build
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: backstop

fix: [UIP-5380] Combobox doesnt open when clicked into after selection
  packages/astro/src/components/ComboBoxField/ComboBoxField.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5380] Combobox doesnt open when clicked into after selection
  src/components/ComboBoxField/ComboBoxField.js
  src/components/ComboBoxField/ComboBoxField.test.js
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

fix: [UIP-5359] refactor Array Field to include label
  src/components/ArrayField/ArrayField.js
  src/components/ArrayField/ArrayField.stories.js
  src/components/ArrayField/ArrayField.test.js
Due: none

fix: [UIP-5359] refactor Array Field to include label
  packages/astro/src/components/ArrayField/ArrayField.js
  packages/astro/src/components/ArrayField/ArrayField.stories.js
  packages/astro/src/components/ArrayField/ArrayField.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5375] Menu A11Y Improvement
  packages/astro/src/components/Menu/Menu.js
  packages/astro/src/components/Menu/Menu.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5375] Menu A11Y Improvement
  src/components/Menu/Menu.js
  src/components/Menu/Menu.test.js
Due: none

chore: Fix release mirroring
  Jenkinsfile.general.release
Due: none

chore: Fix regex matcher for release tags
  Jenkinsfile.general.release
Due: none

chore: Fix regex matcher for release tags, x2
  Jenkinsfile.general.release
Due: none

chore: Fix regex matcher for release tags, x3
  Jenkinsfile.general.release
Due: none

chore: Fix script stage for mirroring
  Jenkinsfile.general.release
Due: none

chore: Fix script stage for mirroring, x2
  Jenkinsfile.general.release
Due: none

chore: Fix script stage for mirroring, x3
  Jenkinsfile.general.release
Due: none

chore: Fix script stage for mirroring, x4
  Jenkinsfile.general.release
Due: none

chore: Fix script stage for mirroring, x5
  Jenkinsfile.general.release
Due: none

fix: [UIP-5405] Rename MultiSelectFilter component
  packages/astro/src/components/CollapsiblePanel/CollapsiblePanel.js
  packages/astro/src/components/CollapsiblePanel/CollapsiblePanel.stories.js
  packages/astro/src/components/CollapsiblePanel/CollapsiblePanel.test.js
  packages/astro/src/components/CollapsiblePanel/index.js
  packages/astro/src/components/CollapsiblePanelContainer/CollapsiblePanelBadge.js
  packages/astro/src/components/CollapsiblePanelContainer/CollapsiblePanelBadge.test.js
  packages/astro/src/components/CollapsiblePanelContainer/CollapsiblePanelContainer.js
  packages/astro/src/components/CollapsiblePanelContainer/CollapsiblePanelContainer.test.js
  packages/astro/src/components/CollapsiblePanelContainer/index.js
  packages/astro/src/components/CollapsiblePanelItem/CollapsiblePanelItem.js
  packages/astro/src/components/CollapsiblePanelItem/CollapsiblePanelItem.test.js
  packages/astro/src/components/CollapsiblePanelItem/index.js
  packages/astro/src/components/MultiselectFilter/index.js
  packages/astro/src/components/MultiselectFilterItem/index.js
  packages/astro/src/components/MultiselectListContainer/MultiselectListContainer.test.js
  packages/astro/src/components/MultiselectListContainer/index.js
  packages/astro/src/index.js
  packages/astro/src/recipes/CollapsiblePanel.stories.js
  packages/astro/src/styles/variants/buttons.js
  packages/astro/src/styles/variants/collapsiblePanel.js
  packages/astro/src/styles/variants/text.js
  packages/astro/src/styles/variants/variants.js
  yarn.lock
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5405] Rename MultiSelectFilter component
  src/components/CollapsiblePanel/CollapsiblePanel.js
  src/components/CollapsiblePanel/CollapsiblePanel.stories.js
  src/components/CollapsiblePanel/CollapsiblePanel.test.js
  src/components/CollapsiblePanel/index.js
  src/components/CollapsiblePanelContainer/CollapsiblePanelBadge.js
  src/components/CollapsiblePanelContainer/CollapsiblePanelBadge.test.js
  src/components/CollapsiblePanelContainer/CollapsiblePanelContainer.js
  src/components/CollapsiblePanelContainer/CollapsiblePanelContainer.test.js
  src/components/CollapsiblePanelContainer/index.js
  src/components/CollapsiblePanelItem/CollapsiblePanelItem.js
  src/components/CollapsiblePanelItem/CollapsiblePanelItem.test.js
  src/components/CollapsiblePanelItem/index.js
  src/components/MultiselectFilter/index.js
  src/components/MultiselectFilterItem/index.js
  src/components/MultiselectListContainer/MultiselectListContainer.test.js
  src/components/MultiselectListContainer/index.js
  src/index.js
  src/recipes/CollapsiblePanel.stories.js
  src/styles/variants/buttons.js
  src/styles/variants/collapsiblePanel.js
  src/styles/variants/text.js
  src/styles/variants/variants.js
Due: none
