Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*

ci: Fix notice file script, x3
  Jenkinsfile.general.release
Due: none

ci: Add snyk token to release script
  Jenkinsfile.general.release
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

ci: Fix release logic to detect NOTICE.html diffs
  Jenkinsfile.general.release
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish alpha build
  package.json
Due: none

feat: [UIP-5395] One Way to Bidirectional Arrow Recipe
  packages/astro/src/components/IconButtonToggle/IconButtonToggle.js
  packages/astro/src/components/IconButtonToggle/IconButtonToggle.stories.js
  packages/astro/src/components/IconButtonToggle/IconButtonToggle.test.js
  packages/astro/src/components/IconButtonToggle/index.js
  packages/astro/src/components/TextField/TextField.js
  packages/astro/src/hooks/index.js
  packages/astro/src/hooks/useComponentToggle/index.js
  packages/astro/src/hooks/useComponentToggle/useComponentToggle.js
  packages/astro/src/hooks/useComponentToggle/useComponentToggle.test.js
  packages/astro/src/index.js
  packages/astro/src/recipes/OneWayToBidirectionalArrow.stories.js
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5395] One Way to Bidirectional Arrow Recipe
  src/components/IconButtonToggle/IconButtonToggle.js
  src/components/IconButtonToggle/IconButtonToggle.stories.js
  src/components/IconButtonToggle/IconButtonToggle.test.js
  src/components/IconButtonToggle/index.js
  src/components/TextField/TextField.js
  src/hooks/index.js
  src/hooks/useComponentToggle/index.js
  src/hooks/useComponentToggle/useComponentToggle.js
  src/hooks/useComponentToggle/useComponentToggle.test.js
  src/index.js
  src/recipes/OneWayToBidirectionalArrow.stories.js
  src/styles/variants/buttons.js
Due: none

fix: [UIP-5396] fix missed border in textAreaField with floating label
  src/styles/variants/boxes.js
Due: none

fix: [UIP-5396] fix missed border in textAreaField with floating label
  packages/astro/src/styles/variants/boxes.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5415] Remove 32px height from icon button in CopyText
  src/components/CopyText/CopyText.js
  src/components/TextField/TextField.stories.js
  src/styles/variants/boxes.js
  src/styles/variants/buttons.js
Due: none

fix: [UIP-5415] Remove 32px height from icon button in CopyText
  packages/astro/src/components/CopyText/CopyText.js
  packages/astro/src/components/TextField/TextField.stories.js
  packages/astro/src/styles/variants/boxes.js
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5350] Astro nano theme
  packages/astro/src/styles/themes/astro-nano/AstroNanoTheme.story.mdx
  packages/astro/src/styles/themes/astro-nano/astro-nano.js
  packages/astro/src/styles/themes/astro-nano/index.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5350] Astro nano theme
  src/styles/themes/astro-nano/AstroNanoTheme.story.mdx
  src/styles/themes/astro-nano/astro-nano.js
  src/styles/themes/astro-nano/index.js
Due: none

fix: [UIP-5414] message component icon updates
  src/components/Messages/Message.js
Due: none

fix: [UIP-5414] message component icon updates
  packages/astro/src/components/Messages/Message.js
Due: build-no-lockfile, auto_accept_chromatic

docs: [UIP-5416]Add design tokens to storybook
  packages/astro/src/styles/Spacing.stories.js
  packages/astro/src/styles/Typography.stories.js
Due: build-no-lockfile, auto_accept_chromatic

docs: [UIP-5416]Add design tokens to storybook
  src/styles/Spacing.stories.js
  src/styles/Typography.stories.js
Due: none

feat: [UIP-5410] Attribute mapping read only field recipe
  src/recipes/AttributeMappingReadOnlyField.stories.js
Due: none

feat: [UIP-5410] Attribute mapping read only field recipe
  packages/astro/src/recipes/AttributeMappingReadOnlyField.stories.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5402] Allow copying partial text from CopyText
  src/components/CopyText/CopyText.js
  src/components/CopyText/CopyText.test.js
  src/styles/variants/boxes.js
Due: none

feat: [UIP-5402] Allow copying partial text from CopyText
  packages/astro/src/components/CopyText/CopyText.js
  packages/astro/src/components/CopyText/CopyText.test.js
  packages/astro/src/styles/variants/boxes.js
Due: build-no-lockfile, auto_accept_chromatic
