Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop

.gitlab-ci.yml:

variables:
  STABLE_IMAGE: "docker.corp.pingidentity.com:5000/testing/ui-library-admin:1.1"
  LATEST_IMAGE: "docker.corp.pingidentity.com:5000/testing/pingux-latest:1.1"

stages:
  - build-ci-image
  - build-test-lint
  - screenshot

.yarn-install-and-build: &yarn-install-and-build
  before_script:
    - yarn --frozen-lockfile

# NOTE: Make and test changes to the "latest" image _before_ merging them to the stable one. Otherwise, all
# pipelines will be impacted because they use the stable image for running scripts.
build_ci_stable_image:
  stage: build-ci-image
  rules:
    - changes:
      - shared/docker/stable/Dockerfile
  script:
    - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
    - docker push "$STABLE_IMAGE"
  tags:
    - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  rules:
    - changes:
      - shared/docker/latest/Dockerfile
  script:
    - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
    - docker push "$LATEST_IMAGE"
  tags:
    - eks-platform-publish-docker

build:
  <<: *yarn-install-and-build
  stage: build-test-lint
  tags:
    - default-gitlab-runner
  image: $STABLE_IMAGE
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - sh commit_lint.sh
    - lerna run build
    - lerna run lint
    - lerna run coverage-ci
  artifacts:
    paths:
      - ./packages/**/lib

build-no-lockfile:
  stage: build-test-lint
  tags:
    - default-gitlab-runner
  image: docker.corp.pingidentity.com:5000/testing/ui-library-admin:1.1
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - packages/astro/**/*
  script:
    - yarn --no-lockfile --ignore-engines
    - lerna run build

backstop:
  <<: *yarn-install-and-build
  stage: screenshot
  tags:
    - default-gitlab-runner
  image: $STABLE_IMAGE
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - packages/ui-library/*
  script:
    - lerna run demo --scope ui-library
    - lerna run backstop-ci

chromatic:
  <<: *yarn-install-and-build
  stage: screenshot
  tags:
    - default-gitlab-runner
  image: $STABLE_IMAGE
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - packages/astro/*
      when: manual
      allow_failure: true
  script:
    - lerna run chromatic -- --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --exit-zero-on-changes --scope astro

chore: [UIP-4939] eslint-react-hooks plugin integration for Schema Form
  packages/schema-form/.eslintrc.json
  packages/schema-form/src/hooks/useStatefulForm/useStatefulForm.js
  packages/schema-form/stories/CustomSubmitButton.stories.js
  packages/schema-form/stories/CustomSubmitButton.stories.mdx
Due: none

chore: [UIP-4940] eslint-react-hooks plugin integration for Astro package
  packages/astro/.eslintrc.json
  packages/astro/package.json
  packages/astro/src/components/Button/Button.js
  packages/astro/src/components/Input/Input.js
  packages/astro/src/hooks/useDeprecationWarning/useDeprecationWarning.js
  packages/astro/src/hooks/useDeprecationWarning/useDeprecationWarning.test.js
  packages/astro/src/hooks/useProgressiveState/useProgressiveState.js
  packages/astro/src/hooks/useSelectField/useSelectField.js
Due: build-no-lockfile

chore: [UIP-4940] eslint-react-hooks plugin integration for Astro package
  .eslintrc.json
  package.json
  src/components/Button/Button.js
  src/components/Input/Input.js
  src/hooks/useDeprecationWarning/useDeprecationWarning.js
  src/hooks/useDeprecationWarning/useDeprecationWarning.test.js
  src/hooks/useProgressiveState/useProgressiveState.js
  src/hooks/useSelectField/useSelectField.js
Due: none

chore(release): publish
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: build-no-lockfile

chore(release): publish
  CHANGELOG.md
  package.json
Due: none

feat: [UIP-4973] Add components/nodes support to the ImageUploadField
  packages/astro/src/components/ImageUploadField/ImagePreviewButton.js
  packages/astro/src/components/ImageUploadField/ImageUploadField.js
  packages/astro/src/components/ImageUploadField/ImageUploadField.stories.js
  packages/astro/src/components/ImageUploadField/ImageUploadField.test.js
  packages/astro/src/hooks/useImageUploadState/useImageUploadState.js
Due: build-no-lockfile

feat: [UIP-4973] Add components/nodes support to the ImageUploadField
  src/components/ImageUploadField/ImagePreviewButton.js
  src/components/ImageUploadField/ImageUploadField.js
  src/components/ImageUploadField/ImageUploadField.stories.js
  src/components/ImageUploadField/ImageUploadField.test.js
  src/hooks/useImageUploadState/useImageUploadState.js
Due: none

fix: [UIP-4880] Unable to provide styling to messages
  packages/astro/src/components/Messages/Message.js
  packages/astro/src/components/Messages/Messages.js
  packages/astro/src/components/Messages/Messages.stories.js
Due: build-no-lockfile

fix: [UIP-4880] Unable to provide styling to messages
  src/components/Messages/Message.js
  src/components/Messages/Messages.js
  src/components/Messages/Messages.stories.js
Due: none

docs: [UIP-4949] Add usePropWarning hook to isDisabled props
  src/components/Breadcrumbs/BreadcrumbItem.js
  src/components/Breadcrumbs/Breadcrumbs.js
  src/components/Button/Button.js
  src/components/CheckboxField/CheckboxField.js
  src/components/ComboBox/ComboBoxInput.js
  src/components/ComboBoxField/ComboBoxField.js
  src/components/Image/Image.js
  src/components/Label/Label.js
  src/components/Link/Link.js
  src/components/LinkSelectField/LinkSelectField.js
  src/components/Menu/Menu.js
  src/components/MenuItem/MenuItem.js
  src/components/MultivaluesField/MultivaluesField.js
  src/components/NumberField/NumberField.js
  src/components/RockerButtonGroup/RockerButtonGroup.js
  src/components/SearchField/SearchField.js
  src/components/SelectField/SelectField.js
  src/components/SwitchField/SwitchField.js
  src/components/Tab/Tab.js
  src/components/Tabs/Tabs.js
  src/components/TextAreaField/TextAreaField.js
  src/components/TextField/TextField.js
  src/components/TooltipTrigger/TooltipTrigger.js
  src/hooks/index.js
  src/hooks/usePropWarning/index.js
  src/hooks/usePropWarning/usePropWarning.js
  src/hooks/usePropWarning/usePropWarning.test.js
Due: none

docs: [UIP-4949] Add usePropWarning hook to isDisabled props
  packages/astro/src/components/Breadcrumbs/BreadcrumbItem.js
  packages/astro/src/components/Breadcrumbs/Breadcrumbs.js
  packages/astro/src/components/Button/Button.js
  packages/astro/src/components/CheckboxField/CheckboxField.js
  packages/astro/src/components/ComboBox/ComboBoxInput.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.js
  packages/astro/src/components/Image/Image.js
  packages/astro/src/components/Label/Label.js
  packages/astro/src/components/Link/Link.js
  packages/astro/src/components/LinkSelectField/LinkSelectField.js
  packages/astro/src/components/Menu/Menu.js
  packages/astro/src/components/MenuItem/MenuItem.js
  packages/astro/src/components/MultivaluesField/MultivaluesField.js
  packages/astro/src/components/NumberField/NumberField.js
  packages/astro/src/components/RockerButtonGroup/RockerButtonGroup.js
  packages/astro/src/components/SearchField/SearchField.js
  packages/astro/src/components/SelectField/SelectField.js
  packages/astro/src/components/SwitchField/SwitchField.js
  packages/astro/src/components/Tab/Tab.js
  packages/astro/src/components/Tabs/Tabs.js
  packages/astro/src/components/TextAreaField/TextAreaField.js
  packages/astro/src/components/TextField/TextField.js
  packages/astro/src/components/TooltipTrigger/TooltipTrigger.js
  packages/astro/src/hooks/index.js
  packages/astro/src/hooks/usePropWarning/index.js
  packages/astro/src/hooks/usePropWarning/usePropWarning.js
  packages/astro/src/hooks/usePropWarning/usePropWarning.test.js
Due: build-no-lockfile

docs: [UIP-4977] add missing warnings to components
  src/components/Box/Box.js
  src/components/Breadcrumbs/Breadcrumbs.js
  src/components/PasswordField/PasswordField.js
  src/components/RadioField/RadioField.js
  src/components/RadioGroupField/RadioGroupField.js
  src/components/RockerButton/RockerButton.js
Due: none

docs: [UIP-4977] add missing warnings to components
  packages/astro/src/components/Box/Box.js
  packages/astro/src/components/Breadcrumbs/Breadcrumbs.js
  packages/astro/src/components/PasswordField/PasswordField.js
  packages/astro/src/components/RadioField/RadioField.js
  packages/astro/src/components/RadioGroupField/RadioGroupField.js
  packages/astro/src/components/RockerButton/RockerButton.js
Due: build-no-lockfile

fix: [UIP-4932 ] IconButton prop isDisabled does not apply
  src/components/IconButton/IconButton.js
  src/components/IconButton/IconButton.stories.js
  src/components/IconButton/IconButton.test.js
Due: none

fix: [UIP-4932 ] IconButton prop isDisabled does not apply
  packages/astro/src/components/IconButton/IconButton.js
  packages/astro/src/components/IconButton/IconButton.stories.js
  packages/astro/src/components/IconButton/IconButton.test.js
Due: build-no-lockfile

chore(release): publish
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: build-no-lockfile

feat: [UIP-4982] add icons to ping-ux icon library
  packages/icons/src/ui-library/svg/credentials.svg
  packages/icons/src/ui-library/svg/verify.svg
Due: none

feat: [UIP-4892] Port messages reducer to Astro from Compass
  src/components/Messages/Messages.js
  src/components/Messages/Messages.reducer.js
  src/components/Messages/Messages.stories.js
  src/components/Messages/index.js
  src/components/Messages/utils/index.js
  src/components/Messages/utils/messagesReducer.js
  src/components/Messages/utils/messagesReducer.stories.mdx
  src/components/Messages/utils/multiMessagesReducer.js
  src/index.js
Due: none

feat: [UIP-4892] Port messages reducer to Astro from Compass
  packages/astro/src/components/Messages/Messages.js
  packages/astro/src/components/Messages/Messages.reducer.js
  packages/astro/src/components/Messages/Messages.stories.js
  packages/astro/src/components/Messages/index.js
  packages/astro/src/components/Messages/utils/index.js
  packages/astro/src/components/Messages/utils/messagesReducer.js
  packages/astro/src/components/Messages/utils/messagesReducer.stories.mdx
  packages/astro/src/components/Messages/utils/multiMessagesReducer.js
  packages/astro/src/index.js
Due: build-no-lockfile

feat: [UIP-4985] muted-text is better readable
  packages/end-user/src/css/_text.scss
Due: none

fix: [UIP-4965] Add y axis label prop
  packages/ui-library/src/components/general/charting/ColumnChart.jsx
  packages/ui-library/src/components/general/charting/tests/ColumnChartTests.jsx
  packages/ui-library/src/demo/components/general/charting/ColumnChartDemo.jsx
Due: none

chore(release): publish
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop

ci: Update UI Library backstop screenshots
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_Column_Chart_0_output_0_Large_height_standard_width.png
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_End_User_Devices_0_demo-item_0_Large_height_standard_width.png
Due: none

fix: [UIP-4942] Fix label placeholder font weight
  packages/end-user/src/components/Dropdown/Dropdown.js
  packages/end-user/src/css/common/_inputs.scss
  packages/end-user/src/css/components/_dropdown.scss
  packages/end-user/src/css/components/_float-label.scss
Due: none

fix: [UIP-4983] Allow custom props to be spread into MenuItem
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.js
  packages/astro/src/components/MenuItem/MenuItem.js
  packages/astro/src/components/MenuItem/MenuItem.test.js
Due: build-no-lockfile

fix: [UIP-4983] Allow custom props to be spread into MenuItem
  src/components/AccordionGridGroup/AccordionGridGroup.js
  src/components/MenuItem/MenuItem.js
  src/components/MenuItem/MenuItem.test.js
Due: none

fix: [UIP-4400] fixing error shown in console on reading offsetLeft of null
  packages/ui-library/src/components/general/charting/HeroChart.jsx
Due: none

fix: [UIP-4950] Read-only style for TextField
  src/components/TextField/TextField.test.js
  src/hooks/useField/useField.js
  src/hooks/useField/useField.test.js
  src/styles/forms/input.js
Due: none

fix: [UIP-4950] Read-only style for TextField
  packages/astro/src/components/TextField/TextField.test.js
  packages/astro/src/hooks/useField/useField.js
  packages/astro/src/hooks/useField/useField.test.js
  packages/astro/src/styles/forms/input.js
Due: build-no-lockfile

fix: [UIP-4863] Modal Close Icon Button data-id and aria-labels in story
  packages/astro/src/components/Modal/Modal.js
  packages/astro/src/components/Modal/Modal.stories.js
Due: build-no-lockfile

fix: [UIP-4863] Modal Close Icon Button data-id and aria-labels in story
  src/components/Modal/Modal.js
  src/components/Modal/Modal.stories.js
Due: none

fix: [UIP-4922] OverlayPanel Custom Width Variant
  packages/astro/src/components/OverlayPanel/OverlayPanel.js
  packages/astro/src/components/OverlayPanel/OverlayPanel.stories.js
  packages/astro/src/components/OverlayPanel/OverlayPanel.test.js
  packages/astro/src/utils/devUtils/constants/panelSizes.js
Due: build-no-lockfile

fix: [UIP-4922] OverlayPanel Custom Width Variant
  src/components/OverlayPanel/OverlayPanel.js
  src/components/OverlayPanel/OverlayPanel.stories.js
  src/components/OverlayPanel/OverlayPanel.test.js
  src/utils/devUtils/constants/panelSizes.js
Due: none

feat: [UIP-4838] Auto removing messages
  packages/astro/src/components/Messages/Messages.stories.js
  packages/astro/src/components/Messages/utils/messagesReducer.js
  packages/astro/src/components/Messages/utils/multiMessagesReducer.js
  packages/astro/src/components/Messages/utils/tests/messagesReducer.test.js
  packages/astro/src/components/Messages/utils/tests/multiMessagesReducer.test.js
Due: build-no-lockfile

feat: [UIP-4838] Auto removing messages
  src/components/Messages/Messages.stories.js
  src/components/Messages/utils/messagesReducer.js
  src/components/Messages/utils/multiMessagesReducer.js
  src/components/Messages/utils/tests/messagesReducer.test.js
  src/components/Messages/utils/tests/multiMessagesReducer.test.js
Due: none

fix: [UIP-4972] Update validator.js version to >=13.7.0 for UI Library
  packages/ui-library/package.json
  yarn.lock
Due: backstop

fix: [UIP-4961] The menu item remains onHover state when leaving the menu area
  packages/astro/src/components/Menu/Menu.js
  packages/astro/src/components/Menu/Menu.stories.js
  packages/astro/src/components/MenuItem/MenuItem.js
  packages/astro/src/components/MenuItem/MenuItem.test.js
Due: build-no-lockfile

fix: [UIP-4961] The menu item remains onHover state when leaving the menu area
  src/components/Menu/Menu.js
  src/components/Menu/Menu.stories.js
  src/components/MenuItem/MenuItem.js
  src/components/MenuItem/MenuItem.test.js
Due: none
