Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build_ci_github_image, build-no-lockfile, backstop, chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build_ci_github_image: any of: shared/docker/github/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  chromatic: (any of: packages/astro/**/*) or ((not (any of: packages/astro/**/*)) and ((not (any of: packages/astro/**/*)) and (any of: packages/astro/**/*)))

fix: [UIP-5461] OverlayPanel UI Descrepencies
  packages/astro/src/components/OverlayPanel/OverlayPanel.stories.js
  packages/astro/src/styles/variants/overlayPanel.js
Due: build-no-lockfile, chromatic

fix: [UIP-5461] OverlayPanel UI Descrepencies
  src/components/OverlayPanel/OverlayPanel.stories.js
  src/styles/variants/overlayPanel.js
Due: none

chore(release): publish stable build
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
Due: none

fix: Added 5px padding to add btn
  packages/astro/src/components/ArrayField/ArrayField.js
Due: build-no-lockfile, chromatic

fix: Added 5px padding to add btn
  src/components/ArrayField/ArrayField.js
Due: none

chore(release): publish alpha build
  package.json
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

feat: [UIP-5456] Multivalues selectedKeys not showing selected options in external app
  src/components/MultivaluesField/MultivaluesField.js
  src/components/MultivaluesField/MultivaluesField.stories.js
Due: none

feat: [UIP-5456] Multivalues selectedKeys not showing selected options in external app
  packages/astro/src/components/MultivaluesField/MultivaluesField.js
  packages/astro/src/components/MultivaluesField/MultivaluesField.stories.js
Due: build-no-lockfile, chromatic

fix: [UIP-5364] make chip icon not wrapped in a button aria-hidden
  src/components/Chip/Chip.stories.js
  src/styles/variants/boxes.js
Due: none

fix: [UIP-5364] make chip icon not wrapped in a button aria-hidden
  packages/astro/src/components/Chip/Chip.stories.js
  packages/astro/src/styles/variants/boxes.js
Due: build-no-lockfile, chromatic

fixing merge conflict
  packages/end-user/package.json
Due: none

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

docs: [UIP-5432] Adding Documentation to link, button, listview, modal
  src/components/ArrayField/ArrayField.js
  src/components/ArrayField/ArrayField.stories.js
  src/components/Button/Button.js
  src/components/Link/Link.js
  src/components/ListView/ListView.js
  src/components/Messages/Messages.js
  src/components/Modal/Modal.js
  src/components/NavBar/NavBar.stories.js
  src/components/OverlayPanel/OverlayPanel.js
  src/components/RequirementsList/RequirementsList.js
  src/components/ScrollBox/ScrollBox.js
  src/components/Stepper/Stepper.js
  src/components/Tab/Tab.js
  src/components/Tabs/Tabs.js
Due: none

docs: [UIP-5432] Adding Documentation to link, button, listview, modal
  packages/astro/src/components/ArrayField/ArrayField.js
  packages/astro/src/components/ArrayField/ArrayField.stories.js
  packages/astro/src/components/Button/Button.js
  packages/astro/src/components/Link/Link.js
  packages/astro/src/components/ListView/ListView.js
  packages/astro/src/components/Messages/Messages.js
  packages/astro/src/components/Modal/Modal.js
  packages/astro/src/components/NavBar/NavBar.stories.js
  packages/astro/src/components/OverlayPanel/OverlayPanel.js
  packages/astro/src/components/RequirementsList/RequirementsList.js
  packages/astro/src/components/ScrollBox/ScrollBox.js
  packages/astro/src/components/Stepper/Stepper.js
  packages/astro/src/components/Tab/Tab.js
  packages/astro/src/components/Tabs/Tabs.js
Due: build-no-lockfile, chromatic

chore(release): publish alpha build
  packages/astro/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, chromatic

feat: [UIP-5479] ComboBoxField Add Option
  packages/astro/src/components/ComboBoxField/ComboBoxField.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.stories.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.test.js
Due: build-no-lockfile, chromatic

feat: [UIP-5479] ComboBoxField Add Option
  src/components/ComboBoxField/ComboBoxField.js
  src/components/ComboBoxField/ComboBoxField.stories.js
  src/components/ComboBoxField/ComboBoxField.test.js
Due: none

fix: [UIP-5369] added alt text prop and test form image component
  src/components/Image/Image.js
  src/components/Image/Image.stories.js
  src/components/Image/Image.test.js
Due: none

fix: [UIP-5369] added alt text prop and test form image component
  packages/astro/src/components/Image/Image.js
  packages/astro/src/components/Image/Image.stories.js
  packages/astro/src/components/Image/Image.test.js
Due: build-no-lockfile, chromatic

fix: [UIP-5429] field direction multi values field
  packages/astro/src/components/MultivaluesField/MultivaluesField.stories.js
Due: build-no-lockfile, chromatic

fix: [UIP-5429] field direction multi values field
  src/components/MultivaluesField/MultivaluesField.stories.js
Due: none

fix: [UIP-5477] Updating z-index for RockerButtonGroup Accessibility border
  src/styles/variants/buttons.js
Due: none

fix: [UIP-5477] Updating z-index for RockerButtonGroup Accessibility border
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, chromatic
