Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, chromatic

.gitlab-ci.yml:

# NOTE: The numerical suffix in the image string refers to the version of the docker image
# this number will need to be incremented (i.e. 1.1 to 1.2), when changes to a package
# require a new docker image to be consistently pulled.

variables:
  STABLE_IMAGE: "docker.corp.pingidentity.com:5000/testing/ui-library-admin:1.2"
  LATEST_IMAGE: "docker.corp.pingidentity.com:5000/testing/pingux-latest:1.2"

stages:
  - build-ci-image
  - build-test-lint
  - screenshot

.yarn-install-and-build: &yarn-install-and-build
  before_script:
    - yarn --frozen-lockfile

# NOTE: Make and test changes to the "latest" image _before_ merging them to the stable one. Otherwise, all
# pipelines will be impacted because they use the stable image for running scripts.
build_ci_stable_image:
  stage: build-ci-image
  rules:
    - changes:
      - shared/docker/stable/Dockerfile
  script:
    - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
    - docker push "$STABLE_IMAGE"
  tags:
    - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  rules:
    - changes:
      - shared/docker/latest/Dockerfile
  script:
    - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
    - docker push "$LATEST_IMAGE"
  tags:
    - eks-platform-publish-docker

build:
  <<: *yarn-install-and-build
  stage: build-test-lint
  tags:
    - default-gitlab-runner
  image: $STABLE_IMAGE
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - bash commit_lint.sh
    - lerna run build
    - lerna run lint
    - lerna run coverage-ci
  artifacts:
    paths:
      - ./packages/**/lib

build-no-lockfile:
  stage: build-test-lint
  tags:
    - default-gitlab-runner
  image: docker.corp.pingidentity.com:5000/testing/ui-library-admin:1.1
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - packages/astro/**/*
  script:
    - yarn --no-lockfile --ignore-engines
    - lerna run build

backstop:
  <<: *yarn-install-and-build
  stage: screenshot
  tags:
    - default-gitlab-runner
  image: $STABLE_IMAGE
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - packages/ui-library/**/*
  script:
    - lerna run demo --scope ui-library
    - lerna run backstop-ci

chromatic:
  <<: *yarn-install-and-build
  stage: screenshot
  tags:
    - default-gitlab-runner
  image: $STABLE_IMAGE
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^(master|develop)/'
      changes:
        - packages/astro/**/*
      when: manual
      allow_failure: false
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME !~ /^(master|develop)/'
      changes:
        - packages/astro/**/*
      when: manual
      allow_failure: true
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - packages/astro/**/*
  script:
    - lerna run chromatic -- --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro

chore(release): publish
  CHANGELOG.md
  package.json
Due: none

fix: [UIP-4991] upgrade node-fetch to latest version - v3.1.0
  package.json
  yarn.lock
Due: none

fix: [UIP-4991] revert node-fetch upgrade
  package.json
  yarn.lock
Due: none

fix: [UIP-5001] y axis fixes
  packages/ui-library/src/components/general/charting/ColumnChart.jsx
  packages/ui-library/src/components/general/charting/tests/ColumnChartTests.jsx
Due: backstop

test: [UIP-5001] Fix coverage, skip function
  packages/ui-library/src/components/general/charting/ColumnChart.jsx
  packages/ui-library/src/components/general/charting/tests/ColumnChartTests.jsx
Due: backstop

fix: [UIP-5001] Adjust styling of y axis label
  packages/ui-library/src/components/general/charting/ColumnChart.jsx
  packages/ui-library/src/demo/components/general/charting/ColumnChartDemo.jsx
Due: backstop

chore: [UIP-5001] revert demo changes
  packages/ui-library/src/demo/components/general/charting/ColumnChartDemo.jsx
Due: backstop

fix: [UIP-4962] accordion grid design improvements
  src/components/AccordionGridGroup/AccordionGridGroup.stories.js
  src/styles/variants/accordion.js
Due: none

fix: [UIP-4962] accordion grid design improvements
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.stories.js
  packages/astro/src/styles/variants/accordion.js
Due: build-no-lockfile

Add new backstop reference for column chart changes
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_Column_Chart_0_output_0_Large_height_standard_width.png
Due: backstop

fix: [UIP-5013] Accordion design improvements
  src/components/AccordionItem/AccordionItem.js
  src/styles/variants/accordion.js
Due: none

fix: [UIP-5013] Accordion design improvements
  packages/astro/src/components/AccordionItem/AccordionItem.js
  packages/astro/src/styles/variants/accordion.js
Due: build-no-lockfile

chore(release): publish
  packages/astro/CHANGELOG.md
  packages/astro/package.json
Due: build-no-lockfile

fix: [UIP-5010] Disabled tabs can be displayed via keyboard
  src/components/Tab/Tab.js
  src/components/Tabs/Tabs.js
  src/components/Tabs/Tabs.stories.js
  src/components/Tabs/Tabs.test.js
Due: none

fix: [UIP-5010] Disabled tabs can be displayed via keyboard
  packages/astro/src/components/Tab/Tab.js
  packages/astro/src/components/Tabs/Tabs.js
  packages/astro/src/components/Tabs/Tabs.stories.js
  packages/astro/src/components/Tabs/Tabs.test.js
Due: build-no-lockfile

feat: [UIP-4887] ListView hides Separators on zoom
  packages/astro/src/components/ListView/ListView.js
  packages/astro/src/components/ListViewItem/ListViewItem.js
  packages/astro/src/styles/variants/boxes.js
Due: build-no-lockfile

feat: [UIP-4887] ListView hides Separators on zoom
  src/components/ListView/ListView.js
  src/components/ListViewItem/ListViewItem.js
  src/styles/variants/boxes.js
Due: none

chore(release): publish
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: backstop

fix: [UIP-4953] Chip component cleanup
  src/components/Chip/Chip.js
  src/components/Chip/Chip.stories.js
  src/components/Chip/Chip.test.js
  src/components/Chip/ChipContext.js
  src/components/IconButton/IconButton.js
  src/layouts/ListLayout.stories.js
  src/recipes/InputBoxWithLinkedChip.stories.js
  src/styles/variants/boxes.js
Due: none

fix: [UIP-4953] Chip component cleanup
  packages/astro/src/components/Chip/Chip.js
  packages/astro/src/components/Chip/Chip.stories.js
  packages/astro/src/components/Chip/Chip.test.js
  packages/astro/src/components/Chip/ChipContext.js
  packages/astro/src/components/IconButton/IconButton.js
  packages/astro/src/layouts/ListLayout.stories.js
  packages/astro/src/recipes/InputBoxWithLinkedChip.stories.js
  packages/astro/src/styles/variants/boxes.js
Due: build-no-lockfile

ci: Add flag for Chromatic jobs and add Jenkins deploy jobs for Gitlab CI
  .gitlab-ci.yml
  Jenkinsfile.general.release
Due: none

chore: Trigger develop release process for package updates
  packages/ui-library/src/components/buttons/Button.jsx
Due: backstop

ci: Fix missing yarn install for Chromatic jobs
  .gitlab-ci.yml
Due: none
