Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build_ci_github_image, build-no-lockfile, backstop, chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build_ci_github_image: any of: shared/docker/github/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  chromatic: (any of: packages/astro/**/*) or ((not (any of: packages/astro/**/*)) and ((not (any of: packages/astro/**/*)) and (any of: packages/astro/**/*)))

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, chromatic

chore(release): publish alpha build
  package.json
Due: none

feat: [UIP-5556] MultiValueField readOnly
  src/components/MultivaluesField/MultivaluesField.js
  src/components/MultivaluesField/MultivaluesField.stories.js
  src/components/MultivaluesField/MultivaluesField.test.js
  src/styles/forms/input.js
  src/styles/variants/boxes.js
Due: none

feat: [UIP-5556] MultiValueField readOnly
  packages/astro/src/components/MultivaluesField/MultivaluesField.js
  packages/astro/src/components/MultivaluesField/MultivaluesField.stories.js
  packages/astro/src/components/MultivaluesField/MultivaluesField.test.js
  packages/astro/src/styles/forms/input.js
  packages/astro/src/styles/variants/boxes.js
  packages/schema-form/src/components/tests/snapshot/__snapshots__/SchemaForm.test.js.snap
Due: build-no-lockfile, chromatic

chore: [UIP-5400] Package upgrade latest version
  .yarnrc
  package.json
  packages/astro/package.json
  packages/astro/src/components/ArrayField/ArrayField.stories.js
  packages/astro/src/components/FileInputField/FileInputField.js
  packages/astro/src/components/LinkSelectField/LinkSelectField.js
  packages/astro/src/components/ListBox/Option.js
  packages/astro/src/components/MenuItem/MenuItem.js
  packages/astro/src/components/Messages/Message.js
  packages/astro/src/components/NumberField/NumberField.test.js
  packages/astro/src/components/SelectField/SelectField.js
  packages/astro/src/components/Stepper/Step.js
  packages/astro/src/components/Tab/Tab.js
  packages/astro/src/components/TabPicker/TabPicker.js
  packages/astro/src/hooks/useOverlayPanelState/useOverlayPanelState.test.js
  packages/astro/src/hooks/useSelectField/useSelectField.js
  packages/end-user/package.json
  packages/end-user/src/components/TextArea/TextArea.test.js
  packages/flow-diagram/package.json
  packages/schema-form/src/components/Checkboxes.js
  packages/schema-form/src/components/ObjectFieldTemplate.js
  packages/schema-form/src/components/ThemedWidget.js
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_Header_Bar__environment-selector_0_output_0_Large_height_standard_width.png
  packages/ui-library/package.json
  packages/ui-library/src/demo/components/docs/standards/ValidationExamples.jsx
  packages/ui-library/src/demo/components/general/charting/ColumnChartDemo.jsx
  packages/ui-library/src/demo/components/general/charting/LineChartDemo.jsx
  packages/ui-library/src/demo/components/general/charting/PieChartDemo.jsx
  packages/ui-library/src/demo/components/panels/QuickActionsDemo.jsx
  packages/ui-library/src/templates/Branding.jsx
  packages/ui-library/src/templates/Charts.jsx
  packages/ui-library/src/templates/CustomDomainName.jsx
  packages/ui-library/src/templates/Dashboard.jsx
  packages/ui-library/src/templates/Gateways.jsx
  packages/ui-library/src/templates/PingFedAdmin.jsx
  yarn.lock
Due: build-no-lockfile, backstop, chromatic

chore: [UIP-5400] Package upgrade latest version
  package.json
  src/components/ArrayField/ArrayField.stories.js
  src/components/FileInputField/FileInputField.js
  src/components/LinkSelectField/LinkSelectField.js
  src/components/ListBox/Option.js
  src/components/MenuItem/MenuItem.js
  src/components/Messages/Message.js
  src/components/NumberField/NumberField.test.js
  src/components/SelectField/SelectField.js
  src/components/Stepper/Step.js
  src/components/Tab/Tab.js
  src/components/TabPicker/TabPicker.js
  src/hooks/useOverlayPanelState/useOverlayPanelState.test.js
  src/hooks/useSelectField/useSelectField.js
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/flow-diagram/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/flow-diagram/CHANGELOG.md
  packages/flow-diagram/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

refactor: [UIP-5672] FlippableCaretMenuButton styles
  packages/astro/src/recipes/FlippableCaretMenuButton.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5672] FlippableCaretMenuButton styles
  src/recipes/FlippableCaretMenuButton.stories.js
Due: none

refactor: [UIP-5666] move CountryPicker styles to sx object
  src/recipes/CountryPicker.stories.js
Due: none

refactor: [UIP-5666] move CountryPicker styles to sx object
  packages/astro/src/recipes/CountryPicker.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5671] move EditableInput styles to sx object
  packages/astro/src/recipes/EditableInput.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5671] move EditableInput styles to sx object
  src/recipes/EditableInput.stories.js
Due: none

feat: [UIP-5567] Page header component
  src/components/PageHeader/PageHeader.js
  src/recipes/PageHeader.stories.js
Due: none

feat: [UIP-5567] Page header component
  packages/astro/src/components/PageHeader/PageHeader.js
  packages/astro/src/recipes/PageHeader.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5669] move ListWithPanel styles to sx object
  packages/astro/src/recipes/ListAndPanel.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5669] move ListWithPanel styles to sx object
  src/recipes/ListAndPanel.stories.js
Due: none

fix: [UIP-5640] Environment Breadcrumb spread props into Popover
  packages/astro/src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.js
  packages/astro/src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.test.js
Due: build-no-lockfile, chromatic

fix: [UIP-5640] Environment Breadcrumb spread props into Popover
  src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.js
  src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.test.js
Due: none

refactor: [UIP-5649] TrialExperienceStatusBar styles
  packages/astro/src/recipes/TrialExperienceStatusBar.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5649] TrialExperienceStatusBar styles
  src/recipes/TrialExperienceStatusBar.stories.js
Due: none

ci: [UIP-5685] add interruptible to pipeline file
  .gitlab-ci.yml
Due: none

chore: [UIP-5594] add @react-stately/selection to astro package.json
  package.json
Due: none

chore: [UIP-5594] add @react-stately/selection to astro package.json
  packages/astro/package.json
  yarn.lock
Due: build-no-lockfile, chromatic

refactor: [UIP-5663] Changed checkbox prop to sx object
  packages/astro/src/recipes/NeutralInput.stories.js
Due: build-no-lockfile, chromatic
