Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*

chore(release): publish alpha build
  packages/astro/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore: Fix script stage for mirroring, x6
  Jenkinsfile.general.release
Due: none

chore: Fix script stage for mirroring, x7
  Jenkinsfile.general.release
Due: none

feat: [UIP-5409] Read Only Chips in Multivalues Field
  packages/astro/src/components/MultivaluesField/MultivaluesField.js
  packages/astro/src/components/MultivaluesField/MultivaluesField.stories.js
  packages/astro/src/components/MultivaluesField/MultivaluesField.test.js
  packages/astro/src/styles/variants/boxes.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5409] Read Only Chips in Multivalues Field
  src/components/MultivaluesField/MultivaluesField.js
  src/components/MultivaluesField/MultivaluesField.stories.js
  src/components/MultivaluesField/MultivaluesField.test.js
  src/styles/variants/boxes.js
Due: none

chore(release): publish alpha build
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

fix: [UIP-5384] Adjust the focus styles for text and link variant of button
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5384] Adjust the focus styles for text and link variant of button
  src/styles/variants/buttons.js
Due: none

feat: [UIP-5302] Template for New Nav and Header
  packages/astro/src/components/NavBar/NavBar.js
  packages/astro/src/styles/variants/text.js
  packages/astro/src/templates/Nav/HeaderBar.js
  packages/astro/src/templates/Nav/Nav.stories.js
  packages/astro/src/templates/Nav/NavData.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5302] Template for New Nav and Header
  src/components/NavBar/NavBar.js
  src/styles/variants/text.js
  src/templates/Nav/HeaderBar.js
  src/templates/Nav/Nav.stories.js
  src/templates/Nav/NavData.js
Due: none

fix: [UIP-5411] Stop Image src from being cached
  src/components/Image/Image.js
  src/components/Image/Image.stories.js
  src/components/Image/Image.test.js
Due: none

fix: [UIP-5411] Stop Image src from being cached
  packages/astro/src/components/Image/Image.js
  packages/astro/src/components/Image/Image.stories.js
  packages/astro/src/components/Image/Image.test.js
Due: build-no-lockfile, auto_accept_chromatic

ci: [UIP-5149] Automate NOTICE file generation
  Jenkinsfile.general.release
Due: none

chore: Hotfix for Breadcrumb padding
  src/components/Breadcrumbs/Breadcrumbs.js
Due: none

chore: Hotfix for Breadcrumb padding
  packages/astro/src/components/Breadcrumbs/Breadcrumbs.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5366] CopyText a11y improvements
  src/components/Button/Button.js
  src/components/CodeView/CodeView.test.js
  src/components/ComboBox/ComboBoxInput.js
  src/components/CopyText/CopyButton.js
  src/components/CopyText/CopyText.js
  src/components/CopyText/CopyText.test.js
Due: none

feat: [UIP-5366] CopyText a11y improvements
  packages/astro/src/components/Button/Button.js
  packages/astro/src/components/CodeView/CodeView.test.js
  packages/astro/src/components/ComboBox/ComboBoxInput.js
  packages/astro/src/components/CopyText/CopyButton.js
  packages/astro/src/components/CopyText/CopyText.js
  packages/astro/src/components/CopyText/CopyText.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5362] Avatar A11Y Improvement
  src/components/Avatar/Avatar.js
  src/components/Avatar/Avatar.test.js
Due: none

fix: [UIP-5362] Avatar A11Y Improvement
  packages/astro/src/components/Avatar/Avatar.js
  packages/astro/src/components/Avatar/Avatar.test.js
Due: build-no-lockfile, auto_accept_chromatic

ci: Fix git pull issue
  Jenkinsfile.general.release
Due: none

ci: Fix git checkout
  Jenkinsfile.general.release
Due: none

ci: Fix notice file script, x1
  Jenkinsfile.general.release
Due: none

ci: Fix notice file script, x2
  Jenkinsfile.general.release
Due: none
