Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

auto_accept_chromatic:
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run chromatic -- --auto-accept-changes --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro

chore(release): publish alpha build
  packages/astro/package.json
  packages/branding-themes/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/branding-themes/CHANGELOG.md
  packages/branding-themes/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

ci: Fix release for 2022-03-22
  Jenkinsfile.general.release
  packages/schema-form/Makefile
Due: none

ci: Fix build, remove frown from comment
  packages/schema-form/Makefile
Due: none

ci: Undo temporary release fixes for future
  Jenkinsfile.general.release
  packages/schema-form/Makefile
Due: none

chore(release): publish alpha build
  packages/schema-form/package.json
Due: none

chore(release): publish alpha build
  package.json
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5339] Replace FieldHelperText Top Padding
  packages/astro/src/components/FieldHelperText/FieldHelperText.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5339] Replace FieldHelperText Top Padding
  src/components/FieldHelperText/FieldHelperText.js
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5276] Add TimeZonePicker component
  packages/astro/.storybook/preview.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.stories.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.test.js
  packages/astro/src/components/TimeZonePicker/TimeZonePicker.js
  packages/astro/src/components/TimeZonePicker/TimeZonePicker.stories.js
  packages/astro/src/components/TimeZonePicker/TimeZonePicker.test.js
  packages/astro/src/components/TimeZonePicker/index.js
  packages/astro/src/components/TimeZonePicker/timezones.js
  packages/astro/src/index.js
  packages/astro/src/styles/variants/text.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5276] Add TimeZonePicker component
  .storybook/preview.js
  src/components/ComboBoxField/ComboBoxField.js
  src/components/ComboBoxField/ComboBoxField.stories.js
  src/components/ComboBoxField/ComboBoxField.test.js
  src/components/TimeZonePicker/TimeZonePicker.js
  src/components/TimeZonePicker/TimeZonePicker.stories.js
  src/components/TimeZonePicker/TimeZonePicker.test.js
  src/components/TimeZonePicker/index.js
  src/components/TimeZonePicker/timezones.js
  src/index.js
  src/styles/variants/text.js
Due: none

fix: [UIP-5249] 'field' text variant should be medium (500) weight
  packages/astro/src/styles/variants/text.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5249] 'field' text variant should be medium (500) weight
  src/styles/variants/text.js
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5214] focus indicator buttons
  src/styles/variants/buttons.js
Due: none

feat: [UIP-5214] focus indicator buttons
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish alpha build
  packages/astro/package.json
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5328] Some stories miss code in Story tab
  packages/schema-form/.storybook/main.js
Due: none

fix: [UIP-5341] change input font size to 15
  src/styles/forms/input.js
Due: none

fix: [UIP-5341] change input font size to 15
  packages/astro/src/styles/forms/input.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5292] Update Astro version in Schema Form
  .storybook/main.js
  package.json
  src/components/Breadcrumbs/BreadcrumbItem.js
  src/components/Button/Button.stories.js
  src/components/CodeView/CodeView.stories.js
  src/components/ListView/ListView.stories.js
  src/components/Messages/utils/messagesReducer.stories.mdx
  src/components/MultiselectFilter/MultiselectFilter.stories.js
  src/components/NavBarSection/NavBarItem.js
  src/components/TooltipTrigger/TooltipTrigger.stories.js
  src/hooks/useDebounce/useDebounce.stories.mdx
  src/hooks/useModalState/useModalState.stories.mdx
  src/hooks/useOverlayPanelState/useOverlayPanelState.stories.mdx
  src/recipes/EditableInput.stories.js
  src/styles/theme.story.mdx
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

perf: [UIP-5294] Reduce schema forms size
  packages/schema-form/package.json
  packages/schema-form/webpack.config.js
Due: none

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*
