Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build_ci_github_image, build-no-lockfile, backstop, chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_github_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$GITHUB_IMAGE" ./shared/docker/github
  - docker push "$GITHUB_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - pingux-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - pingux-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

chromatic:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - pingux-runner
  image: $STABLE_IMAGE
  variables:
    CHROMATIC_FLAGS: --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro
  script:
  - lerna run chromatic -- $CHROMATIC_FLAGS

refactor: [UIP-5652] moved inline css to top level sx object
  src/recipes/Slider.stories.js
Due: none

chore(release): publish alpha build
  package.json
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/flow-diagram/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/flow-diagram/CHANGELOG.md
  packages/flow-diagram/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: build-no-lockfile, chromatic

fix: Hotfix to address React Spectrum build error happening for some users
  package.json
  src/components/DataTable/DataTable.js
  src/index.js
  src/styles/forms/index.js
  src/styles/forms/label.js
  src/styles/forms/select.js
Due: none

fix: Hotfix to address React Spectrum build error happening for some users
  packages/astro/package.json
  packages/astro/src/components/DataTable/DataTable.js
  packages/astro/src/index.js
  packages/astro/src/styles/forms/index.js
  packages/astro/src/styles/forms/label.js
  packages/astro/src/styles/forms/select.js
  yarn.lock
Due: build-no-lockfile, chromatic

fix: Change DataTable prop type definitions for width and height
  src/components/DataTable/DataTable.js
Due: none

fix: Change DataTable prop type definitions for width and height
  packages/astro/src/components/DataTable/DataTable.js
Due: build-no-lockfile, chromatic

chore: Fix Schema Form conflict
  packages/schema-form/package.json
Due: none

ci: [UIP-5468] Address Gitlab pipeline memory issues and improve overall performance
  .gitlab-ci.yml
  .gitlab-ci/build-ci-image.yml
  .gitlab-ci/build-test-lint-all.yml
  .gitlab-ci/build-test-lint-packages.yml
  .gitlab-ci/build-test-lint.yml
  .gitlab-ci/deploy.yml
  .gitlab-ci/test-screenshot.yml
Due: none

chore: [UIP-5696] Add message to Jenkins release Slack message
  Jenkinsfile.general.release
Due: none

fix: [UIP-5694] Correct line spacing for CodeView
  packages/astro/src/styles/variants/codeView.js
Due: build-no-lockfile, chromatic

fix: [UIP-5694] Correct line spacing for CodeView
  src/styles/variants/codeView.js
Due: none

fix: [UIP-5510] Message Aria Updates
  packages/astro/src/components/Messages/Message.js
  packages/astro/src/components/Messages/Messages.test.js
Due: build-no-lockfile, chromatic

fix: [UIP-5510] Message Aria Updates
  src/components/Messages/Message.js
  src/components/Messages/Messages.test.js
Due: none

fix: [UIP-5707] add aria label for close button in RadioButtonsWithLinks story
  src/recipes/RadioButtonsWithLinks.stories.js
Due: none

fix: [UIP-5707] add aria label for close button in RadioButtonsWithLinks story
  packages/astro/src/recipes/RadioButtonsWithLinks.stories.js
Due: build-no-lockfile, chromatic

feat: [UIP-3489] add 'id' prop for formTextArea/formTextField and 'for' prop for FormLabel
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_TextArea__textarea-error-w-undo_0_output_0_Large_height_standard_width.png
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_Text_Area_0_output_0_Large_height_standard_width.png
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_Text_Field_0_output_0_Large_height_standard_width.png
  packages/ui-library/src/components/forms/FormLabel.jsx
  packages/ui-library/src/components/forms/form-text-area/tests/v2Tests.jsx
  packages/ui-library/src/components/forms/form-text-area/v2.jsx
  packages/ui-library/src/components/forms/form-text-field/tests/v2Tests.jsx
  packages/ui-library/src/components/forms/form-text-field/v2.jsx
  packages/ui-library/src/demo/components/forms/FormTextAreaDemo.jsx
  packages/ui-library/src/demo/components/forms/FormTextFieldDemo.jsx
Due: backstop

fix: [UIP-5623] End-user Preview Component Rendering Issue
  packages/end-user/src/components/Preview/Preview.js
Due: none

feat: [UIP-5615] Add aria attribute support to field components
  .gitlab-ci/build-test-lint.yml
  packages/astro/src/components/ArrayField/ArrayField.js
  packages/astro/src/components/ArrayField/ArrayField.stories.js
  packages/astro/src/components/CheckboxField/CheckboxField.js
  packages/astro/src/components/CheckboxField/CheckboxField.stories.js
  packages/astro/src/components/ColorField/ColorField.js
  packages/astro/src/components/ColorField/ColorField.stories.js
  packages/astro/src/components/ComboBox/ComboBoxInput.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.stories.js
  packages/astro/src/components/FileInputField/FileInputField.js
  packages/astro/src/components/FileInputField/FileInputField.stories.js
  packages/astro/src/components/FileInputField/FileSelect.js
  packages/astro/src/components/ImageUploadField/ImageUploadField.js
  packages/astro/src/components/ImageUploadField/ImageUploadField.stories.js
  packages/astro/src/components/LinkSelectField/LinkSelectField.js
  packages/astro/src/components/LinkSelectField/LinkSelectField.stories.js
  packages/astro/src/components/MultivaluesField/MultivaluesField.js
  packages/astro/src/components/MultivaluesField/MultivaluesField.stories.js
  packages/astro/src/components/NumberField/NumberField.js
  packages/astro/src/components/NumberField/NumberField.stories.js
  packages/astro/src/components/PasswordField/PasswordField.js
  packages/astro/src/components/PasswordField/PasswordField.stories.js
  packages/astro/src/components/RadioGroupField/RadioGroupField.js
  packages/astro/src/components/RadioGroupField/RadioGroupField.stories.js
  packages/astro/src/components/SearchField/SearchField.js
  packages/astro/src/components/SearchField/SearchField.stories.js
  packages/astro/src/components/SelectField/SelectField.js
  packages/astro/src/components/SelectField/SelectField.stories.js
  packages/astro/src/components/SelectFieldBase/SelectFieldBase.js
  packages/astro/src/components/SwitchField/SwitchField.js
  packages/astro/src/components/SwitchField/SwitchField.stories.js
  packages/astro/src/components/TextAreaField/TextAreaField.js
  packages/astro/src/components/TextAreaField/TextAreaField.stories.js
  packages/astro/src/components/TextField/TextField.js
  packages/astro/src/components/TextField/TextField.stories.js
  packages/astro/src/hooks/useField/useField.js
  packages/astro/src/utils/devUtils/props/ariaAttributes.js
  packages/astro/src/utils/devUtils/props/ariaAttributes.test.js
Due: build-no-lockfile, chromatic

feat: [UIP-5615] Add aria attribute support to field components
  src/components/ArrayField/ArrayField.js
  src/components/ArrayField/ArrayField.stories.js
  src/components/CheckboxField/CheckboxField.js
  src/components/CheckboxField/CheckboxField.stories.js
  src/components/ColorField/ColorField.js
  src/components/ColorField/ColorField.stories.js
  src/components/ComboBox/ComboBoxInput.js
  src/components/ComboBoxField/ComboBoxField.js
  src/components/ComboBoxField/ComboBoxField.stories.js
  src/components/FileInputField/FileInputField.js
  src/components/FileInputField/FileInputField.stories.js
  src/components/FileInputField/FileSelect.js
  src/components/ImageUploadField/ImageUploadField.js
  src/components/ImageUploadField/ImageUploadField.stories.js
  src/components/LinkSelectField/LinkSelectField.js
  src/components/LinkSelectField/LinkSelectField.stories.js
  src/components/MultivaluesField/MultivaluesField.js
  src/components/MultivaluesField/MultivaluesField.stories.js
  src/components/NumberField/NumberField.js
  src/components/NumberField/NumberField.stories.js
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/PasswordField.stories.js
  src/components/RadioGroupField/RadioGroupField.js
  src/components/RadioGroupField/RadioGroupField.stories.js
  src/components/SearchField/SearchField.js
  src/components/SearchField/SearchField.stories.js
  src/components/SelectField/SelectField.js
  src/components/SelectField/SelectField.stories.js
  src/components/SelectFieldBase/SelectFieldBase.js
  src/components/SwitchField/SwitchField.js
  src/components/SwitchField/SwitchField.stories.js
  src/components/TextAreaField/TextAreaField.js
  src/components/TextAreaField/TextAreaField.stories.js
  src/components/TextField/TextField.js
  src/components/TextField/TextField.stories.js
  src/hooks/useField/useField.js
  src/utils/devUtils/props/ariaAttributes.js
  src/utils/devUtils/props/ariaAttributes.test.js
Due: none

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build_ci_github_image: any of: shared/docker/github/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  chromatic: (any of: packages/astro/**/*) or ((not (any of: packages/astro/**/*)) and ((not (any of: packages/astro/**/*)) and (any of: packages/astro/**/*)))
