Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*

chore(release): publish alpha build
  package.json
Due: none

ci: Add no-git-tag-version flag to Lerna versioning for proper CHANGELOG generation on publish
  Jenkinsfile.general.prerelease
Due: none

ci: Fix prerelease versioning
  package.json
Due: none

ci: Fix prerelease versioning
  Jenkinsfile.general.prerelease
  packages/astro/package.json
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish alpha build
  packages/astro/package.json
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5016] OverlayPanel focus improvements
  package.json
  src/components/OverlayPanel/OverlayPanel.js
  src/components/OverlayPanel/OverlayPanel.stories.js
  src/components/OverlayPanel/OverlayPanel.test.js
  src/hooks/useOverlayPanelState/useOverlayPanelState.js
  src/hooks/useOverlayPanelState/useOverlayPanelState.test.js
Due: none

fix: [UIP-5016] OverlayPanel focus improvements
  packages/astro/package.json
  packages/astro/src/components/OverlayPanel/OverlayPanel.js
  packages/astro/src/components/OverlayPanel/OverlayPanel.stories.js
  packages/astro/src/components/OverlayPanel/OverlayPanel.test.js
  packages/astro/src/hooks/useOverlayPanelState/useOverlayPanelState.js
  packages/astro/src/hooks/useOverlayPanelState/useOverlayPanelState.test.js
Due: build-no-lockfile, auto_accept_chromatic

feat: notifications pingfed nav bar
  packages/ui-library/src/components/tooltips/PopoverNavMenu.jsx
Due: backstop

feat: notifications pingfed nav bar
  packages/ui-library/src/css/details-tooltip/_popover.scss
  packages/ui-library/src/demo/components/panels/NavFrameDemo.jsx
Due: backstop

fix: lint errors
  packages/ui-library/src/demo/components/panels/NavFrameDemo.jsx
Due: backstop

UIP-5204 adding bell icon to library and backstop test
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_Icons_0_output_0_Large_height_standard_width.png
  packages/ui-library/src/css/icons/_style.scss
  packages/ui-library/src/css/icons/_variables.scss
  packages/ui-library/src/css/icons/selection.json
  packages/ui-library/src/fonts/icons/iconfont.svg
  packages/ui-library/src/fonts/icons/iconfont.ttf
  packages/ui-library/src/fonts/icons/iconfont.woff
  packages/ui-library/src/fonts/icons/iconfont.woff2
Due: backstop

fix: lint errors
  packages/ui-library/src/components/tooltips/tests/PopoverNavMenuTest.jsx
Due: backstop

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/flow-diagram/CHANGELOG.md
  packages/flow-diagram/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

fix: lint errors
  packages/ui-library/src/components/tooltips/PopoverNavMenu.jsx
  packages/ui-library/src/demo/components/panels/NavFrameDemo.jsx
Due: backstop

ci: Fix commands which may throw unexpected errors
  Jenkinsfile.general.prerelease
Due: none

fix: [UIP-5224] Remove .css file dependency for CodeView component
  package.json
  src/components/CodeView/CodeView.js
  src/components/CodeView/CodeView.stories.js
  src/components/PopoverMenu/PopoverMenu.js
  src/styles/variants/codeView.js
Due: none

fix: [UIP-5224] Remove .css file dependency for CodeView component
  packages/astro/package.json
  packages/astro/src/components/CodeView/CodeView.js
  packages/astro/src/components/CodeView/CodeView.stories.js
  packages/astro/src/components/PopoverMenu/PopoverMenu.js
  packages/astro/src/styles/variants/codeView.js
  yarn.lock
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-4991] Upgrade node-fetch to latest version - v3.1.0
  packages/ui-library/package.json
  yarn.lock
Due: backstop

chore(release): publish alpha build
  packages/ui-library/package.json
Due: backstop

feat: [UIP-5188] end user error a11y
  packages/end-user/src/components/Feedback/Feedback.js
Due: none

feat: [UIP-5238] Add Storysource addon for schema-form
  packages/schema-form/.storybook/main.js
  packages/schema-form/package.json
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

ci: Fix missing artifactory config from prerelease file
  Jenkinsfile.general.prerelease
Due: none

UIP-5205 adding approved screenshot test for maya
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_NavFrame_0_output_0_Large_height_standard_width.png
Due: backstop

fix: [UIP-5183] Link has incorrect styling
  src/components/Link/Link.js
  src/components/Link/Link.stories.js
  src/styles/theme.js
  src/styles/variants/index.js
  src/styles/variants/links.js
  src/styles/variants/variants.js
Due: none

fix: [UIP-5183] Link has incorrect styling
  packages/astro/src/components/Link/Link.js
  packages/astro/src/components/Link/Link.stories.js
  packages/astro/src/styles/theme.js
  packages/astro/src/styles/variants/index.js
  packages/astro/src/styles/variants/links.js
  packages/astro/src/styles/variants/variants.js
Due: build-no-lockfile, auto_accept_chromatic
