Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build_ci_github_image, build-no-lockfile, backstop, chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build_ci_github_image: any of: shared/docker/github/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  chromatic: (any of: packages/astro/**/*) or ((not (any of: packages/astro/**/*)) and ((not (any of: packages/astro/**/*)) and (any of: packages/astro/**/*)))

refactor: [UIP-5663] Changed checkbox prop to sx object
  src/recipes/NeutralInput.stories.js
Due: none

refactor: [UIP-5665] MaskedValue styles
  packages/astro/src/recipes/MaskedValue.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5665] MaskedValue styles
  src/recipes/MaskedValue.stories.js
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/flow-diagram/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

chore(release): publish alpha build
  package.json
Due: none

refactor: [UIP-5655] RowLineChart styles
  packages/astro/src/recipes/RowLineChart.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5655] RowLineChart styles
  src/recipes/RowLineChart.stories.js
Due: none

refactor: [UIP-5661] Refactor OneWayToBidirectionalArrow styles
  packages/astro/src/recipes/OneWayToBidirectionalArrow.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5661] Refactor OneWayToBidirectionalArrow styles
  src/recipes/OneWayToBidirectionalArrow.stories.js
Due: none

feat: [UIP-5490] Add DataTable component
  package.json
  src/components/DataTable/DataTable.js
  src/components/DataTable/DataTable.stories.js
  src/components/DataTable/DataTable.styles.js
  src/components/DataTable/DataTable.test.js
  src/components/DataTable/DataTableChip.js
  src/components/DataTable/DataTableChip.test.js
  src/components/DataTable/DataTableMenu.js
  src/components/DataTable/DataTableMenu.test.js
  src/components/DataTable/DataTableMultiLine.js
  src/components/DataTable/DataTableMultiLine.test.js
  src/components/DataTable/DataTableVirtualizer.js
  src/components/DataTable/index.js
  src/context/DataTableContext/index.js
  src/index.js
  src/styles/variants/variants.js
Due: none

feat: [UIP-5490] Add DataTable component
  packages/astro/package.json
  packages/astro/src/components/DataTable/DataTable.js
  packages/astro/src/components/DataTable/DataTable.stories.js
  packages/astro/src/components/DataTable/DataTable.styles.js
  packages/astro/src/components/DataTable/DataTable.test.js
  packages/astro/src/components/DataTable/DataTableChip.js
  packages/astro/src/components/DataTable/DataTableChip.test.js
  packages/astro/src/components/DataTable/DataTableMenu.js
  packages/astro/src/components/DataTable/DataTableMenu.test.js
  packages/astro/src/components/DataTable/DataTableMultiLine.js
  packages/astro/src/components/DataTable/DataTableMultiLine.test.js
  packages/astro/src/components/DataTable/DataTableVirtualizer.js
  packages/astro/src/components/DataTable/index.js
  packages/astro/src/context/DataTableContext/index.js
  packages/astro/src/index.js
  packages/astro/src/styles/variants/variants.js
  yarn.lock
Due: build-no-lockfile, chromatic

fix: [UIP-5605] MultiValuesField custom options fix
  packages/astro/src/components/MultivaluesField/MultivaluesField.js
Due: build-no-lockfile, chromatic

fix: [UIP-5605] MultiValuesField custom options fix
  src/components/MultivaluesField/MultivaluesField.js
Due: none

refactor: [UIP-5652] moved inline css to top level sx object
  packages/astro/src/recipes/Slider.stories.js
Due: build-no-lockfile, chromatic
