Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

auto_accept_chromatic:
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run chromatic -- --auto-accept-changes --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro

chore(release): publish alpha build
  package.json
Due: none

fix: Fix rules for prereleases
  .gitlab-ci.yml
Due: none

fix: Fix rules for prereleases x2
  .gitlab-ci.yml
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

feat: [UIP-5368] IconButton a11y Improvement
  src/hooks/useAriaLabelWarning/useAriaLabelWarning.js
  src/hooks/useAriaLabelWarning/useAriaLabelWarning.test.js
  src/hooks/useDevelopmentWarning/index.js
  src/hooks/useDevelopmentWarning/useDevelopmentWarning.js
  src/hooks/useDevelopmentWarning/useDevelopmentWarning.test.js
Due: none

feat: [UIP-5368] IconButton a11y Improvement
  packages/astro/src/hooks/useAriaLabelWarning/useAriaLabelWarning.js
  packages/astro/src/hooks/useAriaLabelWarning/useAriaLabelWarning.test.js
  packages/astro/src/hooks/useDevelopmentWarning/index.js
  packages/astro/src/hooks/useDevelopmentWarning/useDevelopmentWarning.js
  packages/astro/src/hooks/useDevelopmentWarning/useDevelopmentWarning.test.js
Due: build-no-lockfile, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*
