Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build_ci_github_image, build-no-lockfile, backstop, chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_github_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$GITHUB_IMAGE" ./shared/docker/github
  - docker push "$GITHUB_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - pingux-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - pingux-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

chromatic:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - pingux-runner
  image: $STABLE_IMAGE
  variables:
    CHROMATIC_FLAGS: --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro
  script:
  - lerna run chromatic -- $CHROMATIC_FLAGS

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, chromatic

chore(release): publish alpha build
  package.json
Due: none

refactor: [UIP-5659] AttributesAndPingOneMapping styles
  src/recipes/AttributesAndPingOneMapping.stories.js
Due: none

refactor: [UIP-5659] AttributesAndPingOneMapping styles
  packages/astro/src/recipes/AttributesAndPingOneMapping.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5660] CollapsiblePanel styling
  src/recipes/CollapsiblePanel.stories.js
Due: none

refactor: [UIP-5660] CollapsiblePanel styling
  packages/astro/src/recipes/CollapsiblePanel.stories.js
Due: build-no-lockfile, chromatic

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: build-no-lockfile, chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

Fix missed merge conflict in schema form package.json
  packages/schema-form/package.json
Due: none

ci: [UIP-5633] Disable Backstop in Gitlab pipelines
  .gitlab-ci.yml
Due: none

refactor: [UIP-5662] ConditionalFilter styles
  src/recipes/ConditionalFilter.stories.js
Due: none

refactor: [UIP-5662] ConditionalFilter styles
  packages/astro/src/recipes/ConditionalFilter.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5668] DatePicker styles
  src/recipes/DatePicker.stories.js
Due: none

refactor: [UIP-5668] DatePicker styles
  packages/astro/src/recipes/DatePicker.stories.js
Due: build-no-lockfile, chromatic

fix: [UIP-5592] end-user UserNav rework
  packages/end-user/src/components/shared/Anchor.js
  packages/end-user/src/components/shared/Popover.js
  packages/end-user/src/components/shared/SelfServeNav.js
  packages/end-user/src/css/shared/_selfServeNav.scss
  packages/end-user/src/css/styles.scss
  packages/end-user/src/util/behaviors/popsOver.js
  packages/end-user/stories/templates/PageSelfService.story.js
Due: none

refactor: [UIP-5651] StatsCircle styles
  packages/astro/src/recipes/StatsCircle.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5651] StatsCircle styles
  src/recipes/StatsCircle.stories.js
Due: none

refactor: [UIP-5653] SelectedFieldOverlay styles
  packages/astro/src/recipes/SelectedFieldOverlay.story.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5653] SelectedFieldOverlay styles
  src/recipes/SelectedFieldOverlay.story.js
Due: none

fix: [UIP-5620] delete onPress from AccordionGroup
  packages/astro/src/components/AccordionGroup/AccordionGroup.js
  packages/astro/src/components/AccordionGroup/AccordionGroup.test.js
Due: build-no-lockfile, chromatic

fix: [UIP-5620] delete onPress from AccordionGroup
  src/components/AccordionGroup/AccordionGroup.js
  src/components/AccordionGroup/AccordionGroup.test.js
Due: none

refactor: [UIP-5645] Move arrow recipe styles to sx object
  packages/astro/src/recipes/Arrow.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5645] Move arrow recipe styles to sx object
  src/recipes/Arrow.stories.js
Due: none

fix: [UIP-5587] content div scroll fix
  packages/ui-library/src/css/_layout.scss
Due: backstop

refactor: [UIP-5656] ApplicationSearchDropdown styles
  packages/astro/src/recipes/ApplicationSearchDropdown.stories.js
Due: build-no-lockfile, chromatic

refactor: [UIP-5656] ApplicationSearchDropdown styles
  src/recipes/ApplicationSearchDropdown.stories.js
Due: none

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build_ci_github_image: any of: shared/docker/github/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  chromatic: (any of: packages/astro/**/*) or ((not (any of: packages/astro/**/*)) and ((not (any of: packages/astro/**/*)) and (any of: packages/astro/**/*)))
