Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build_ci_github_image, build-no-lockfile, backstop, chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_github_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$GITHUB_IMAGE" ./shared/docker/github
  - docker push "$GITHUB_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - pingux-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - pingux-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

chromatic:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - pingux-runner
  image: $STABLE_IMAGE
  variables:
    CHROMATIC_FLAGS: --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro
  script:
  - lerna run chromatic -- $CHROMATIC_FLAGS

feat: [UIP-5367] EnvironmentBreadcrumbs A11Y Improvement
  packages/astro/package.json
  packages/astro/src/components/Breadcrumbs/Breadcrumbs.js
  packages/astro/src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.js
  packages/astro/src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.stories.js
  packages/astro/src/components/Messages/Messages.test.js
  packages/astro/src/styles/variants/buttons.js
  packages/end-user/src/components/TextArea/TextArea.test.js
  yarn.lock
Due: build-no-lockfile, chromatic

chore(release): publish alpha build
  package.json
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

feat: [UIP-5377] Modal A11Y Improvement
  src/components/Modal/Modal.js
  src/components/Modal/tests/Modal.unit.test.js
Due: none

feat: [UIP-5377] Modal A11Y Improvement
  packages/astro/src/components/Modal/Modal.js
  packages/astro/src/components/Modal/tests/Modal.unit.test.js
Due: build-no-lockfile, chromatic

fix: [UIP-5398] fix spacing of separator in navbar
  packages/astro/src/components/NavBar/NavBar.stories.js
  packages/astro/src/styles/variants/navBar.js
  packages/astro/src/styles/variants/separator.js
Due: build-no-lockfile, chromatic

fix: [UIP-5398] fix spacing of separator in navbar
  src/components/NavBar/NavBar.stories.js
  src/styles/variants/navBar.js
  src/styles/variants/separator.js
Due: none

fix: Revert Storybook 6.5 yarn.lock changes that went in prematurely
  yarn.lock
Due: none

fix: Re-order merge props so they have the correct precedence
  src/components/Button/Button.js
  src/components/IconButton/IconButton.js
  src/recipes/TrialExperienceIndustryButtons.stories.js
Due: none

fix: Re-order merge props so they have the correct precedence
  packages/astro/src/components/Button/Button.js
  packages/astro/src/components/IconButton/IconButton.js
  packages/astro/src/recipes/TrialExperienceIndustryButtons.stories.js
Due: build-no-lockfile, chromatic

fix: [UIP-5472] Adding interactive close to trial exp recipe
  src/recipes/TrialExperienceIndustryButtons.stories.js
Due: none

fix: [UIP-5472] Adding interactive close to trial exp recipe
  packages/astro/src/recipes/TrialExperienceIndustryButtons.stories.js
Due: build-no-lockfile, chromatic

feat: [UIP-5437] Trial status bar recipe
  src/recipes/TrialExperienceStatusBar.stories.js
Due: none

feat: [UIP-5437] Trial status bar recipe
  packages/astro/src/recipes/TrialExperienceStatusBar.stories.js
Due: build-no-lockfile, chromatic

fixing lingering focus issue
  src/components/AccordionItem/AccordionItem.js
  src/components/Link/Link.js
Due: none

fixing lingering focus issue
  packages/astro/src/components/AccordionItem/AccordionItem.js
  packages/astro/src/components/Link/Link.js
Due: build-no-lockfile, chromatic

fix: [UIP-5480] added aria labels to cancel and save btns
  packages/end-user/src/components/SaveableTextInput/SaveableTextInput.js
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

fix: end-user storybook build errors
  packages/end-user/.storybook/main.js
Due: none

feat: [UIP-5374] change Loader role to alert
  packages/astro/src/components/Button/Button.test.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.test.js
  packages/astro/src/components/ImageUploadField/ImageUploadField.test.js
  packages/astro/src/components/LinkSelectField/LinkSelectField.test.js
  packages/astro/src/components/ListView/ListView.test.js
  packages/astro/src/components/Loader/Loader.js
  packages/astro/src/components/Loader/Loader.test.js
  packages/astro/src/components/SelectFieldBase/SelectFieldBase.test.js
Due: build-no-lockfile, chromatic

feat: [UIP-5374] change Loader role to alert
  src/components/Button/Button.test.js
  src/components/ComboBoxField/ComboBoxField.test.js
  src/components/ImageUploadField/ImageUploadField.test.js
  src/components/LinkSelectField/LinkSelectField.test.js
  src/components/ListView/ListView.test.js
  src/components/Loader/Loader.js
  src/components/Loader/Loader.test.js
  src/components/SelectFieldBase/SelectFieldBase.test.js
Due: none

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build_ci_github_image: any of: shared/docker/github/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  chromatic: (any of: packages/astro/**/*) or ((not (any of: packages/astro/**/*)) and ((not (any of: packages/astro/**/*)) and (any of: packages/astro/**/*)))
