Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop

.gitlab-ci.yml:

variables:
  STABLE_IMAGE: "docker.corp.pingidentity.com:5000/testing/ui-library-admin:1.1"
  LATEST_IMAGE: "docker.corp.pingidentity.com:5000/testing/pingux-latest:1.1"

stages:
  - build-ci-image
  - build-test-lint
  - screenshot

.yarn-install-and-build: &yarn-install-and-build
  before_script:
    - yarn --frozen-lockfile

# NOTE: Make and test changes to the "latest" image _before_ merging them to the stable one. Otherwise, all
# pipelines will be impacted because they use the stable image for running scripts.
build_ci_stable_image:
  stage: build-ci-image
  rules:
    - changes:
      - shared/docker/stable/Dockerfile
  script:
    - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
    - docker push "$STABLE_IMAGE"
  tags:
    - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  rules:
    - changes:
      - shared/docker/latest/Dockerfile
  script:
    - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
    - docker push "$LATEST_IMAGE"
  tags:
    - eks-platform-publish-docker

build:
  <<: *yarn-install-and-build
  stage: build-test-lint
  tags:
    - default-gitlab-runner
  image: $STABLE_IMAGE
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - sh commit_lint.sh
    - lerna run build
    - lerna run lint
    - lerna run coverage-ci
  artifacts:
    paths:
      - ./packages/**/lib

build-no-lockfile:
  stage: build-test-lint
  tags:
    - default-gitlab-runner
  image: docker.corp.pingidentity.com:5000/testing/ui-library-admin:1.1
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - packages/astro/**/*
  script:
    - yarn --no-lockfile --ignore-engines
    - lerna run build

backstop:
  <<: *yarn-install-and-build
  stage: screenshot
  tags:
    - default-gitlab-runner
  image: $STABLE_IMAGE
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - packages/ui-library/*
  script:
    - lerna run demo --scope ui-library
    - lerna run backstop-ci

chromatic:
  <<: *yarn-install-and-build
  stage: screenshot
  tags:
    - default-gitlab-runner
  image: $STABLE_IMAGE
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - packages/astro/*
      when: manual
      allow_failure: true
  script:
    - lerna run chromatic -- --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --exit-zero-on-changes --scope astro

chore(release): publish
  packages/astro/CHANGELOG.md
  packages/astro/package.json
Due: build-no-lockfile

ci: Add short circuit logic to Jenkinsfiles for version bump commits
  Jenkinsfile.general.prerelease
  Jenkinsfile.general.release
Due: none

chore(release): publish
  CHANGELOG.md
  package.json
Due: none

chore(release): publish
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop

ci: Echo last author
  Jenkinsfile.general.release
Due: none

ci: Add short circuit stage for double push issue
  Jenkinsfile.general.prerelease
Due: none

fix: [UIP-4890] PhoneInput with fieldMessage
  packages/end-user/src/components/PhoneInput/PhoneInput.story.js
  packages/end-user/src/css/components/_phone-input.scss
Due: none

fix: [UIP-4989] upgrade path-parse and color-string
  package.json
  yarn.lock
Due: none

chore(release): publish
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: none

ci: Change develop to run Chromatic for each push
  .gitlab-ci.yml
Due: none

fix: [UIP-5064] Upgrade lodash version to 4.17.21
  packages/astro/package.json
  yarn.lock
Due: build-no-lockfile

fix: [UIP-5064] Upgrade lodash version to 4.17.21
  package.json
Due: none

ci: Add the 'next' dist-tag to npm publish command
  Jenkinsfile.general.prerelease
  Jenkinsfile.general.release
Due: none

ci: Fix image ref for no-lockfile job
  .gitlab-ci.yml
Due: none

fix: [UIP-4928] password field-hide default safari-edge-ie icon
  packages/astro/src/styles/forms/input.js
Due: build-no-lockfile

fix: [UIP-4928] password field-hide default safari-edge-ie icon
  src/styles/forms/input.js
Due: none

fix: [UIP-5061] hide variants that aren't used for <Button> specifically
  packages/astro/src/components/Button/Button.stories.js
Due: build-no-lockfile

fix: [UIP-5061] hide variants that aren't used for <Button> specifically
  src/components/Button/Button.stories.js
Due: none

fix: [UIP-5063] Inline Button Text Size
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile

fix: [UIP-5063] Inline Button Text Size
  src/styles/variants/buttons.js
Due: none

feat: [UIP-4918] Add File Input
  .storybook/preview.js
  package.json
  src/components/FileInputField/FileInputField.js
  src/components/FileInputField/FileInputField.stories.js
  src/components/FileInputField/FileInputField.test.js
  src/components/FileInputField/FileItem.js
  src/components/FileInputField/FileSelect.js
  src/components/FileInputField/index.js
  src/index.js
  src/styles/variants/boxes.js
  src/styles/variants/buttons.js
Due: none

feat: [UIP-4918] Add File Input
  packages/astro/.storybook/preview.js
  packages/astro/package.json
  packages/astro/src/components/FileInputField/FileInputField.js
  packages/astro/src/components/FileInputField/FileInputField.stories.js
  packages/astro/src/components/FileInputField/FileInputField.test.js
  packages/astro/src/components/FileInputField/FileItem.js
  packages/astro/src/components/FileInputField/FileSelect.js
  packages/astro/src/components/FileInputField/index.js
  packages/astro/src/index.js
  packages/astro/src/styles/variants/boxes.js
  packages/astro/src/styles/variants/buttons.js
  yarn.lock
Due: build-no-lockfile

fix: [UIP-5018] Error mark is misplaced on resize
  packages/ui-library/src/components/forms/form-text-area/tests/v2Tests.jsx
  packages/ui-library/src/components/forms/form-text-area/tests/v4Tests.jsx
  packages/ui-library/src/components/forms/form-text-area/v2.jsx
Due: none

chore(release): publish
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: backstop

ci: Add rule to run Chromatic automatically for merge trains
  .gitlab-ci.yml
Due: none

feat: [UIP-5004] RadioButtonsWithLinks Recipe
  src/recipes/RadioButtonsWithLinks.stories.js
Due: none

feat: [UIP-5004] RadioButtonsWithLinks Recipe
  packages/astro/src/recipes/RadioButtonsWithLinks.stories.js
Due: build-no-lockfile

feat: [UIP-5037] Add slots props to Tab Component
  src/components/Tab/Tab.js
  src/components/Tabs/Tabs.js
  src/components/Tabs/Tabs.stories.js
  src/components/Tabs/Tabs.test.js
  src/styles/variants/tabs.js
Due: none

feat: [UIP-5037] Add slots props to Tab Component
  packages/astro/src/components/Tab/Tab.js
  packages/astro/src/components/Tabs/Tabs.js
  packages/astro/src/components/Tabs/Tabs.stories.js
  packages/astro/src/components/Tabs/Tabs.test.js
  packages/astro/src/styles/variants/tabs.js
Due: build-no-lockfile

feat: [UIP-5003] Copy to clipboard Recipe
  packages/astro/src/components/CopyText/CopyText.js
  packages/astro/src/hooks/useCopyToClipboard/index.js
  packages/astro/src/hooks/useCopyToClipboard/useCopyToClipboard.js
  packages/astro/src/hooks/useCopyToClipboard/useCopyToClipboard.test.js
  packages/astro/src/recipes/CopyToClipboard.stories.js
Due: build-no-lockfile

feat: [UIP-5003] Copy to clipboard Recipe
  src/components/CopyText/CopyText.js
  src/hooks/useCopyToClipboard/index.js
  src/hooks/useCopyToClipboard/useCopyToClipboard.js
  src/hooks/useCopyToClipboard/useCopyToClipboard.test.js
  src/recipes/CopyToClipboard.stories.js
Due: none
