Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

auto_accept_chromatic:
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run chromatic -- --auto-accept-changes --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro

fix: [UIP-5245] TextFieldArea Default Rows and Story Update
  src/components/TextAreaField/TextAreaField.js
  src/components/TextAreaField/TextAreaField.stories.js
Due: none

fix: [UIP-5230] OverlayPanel Content Jump
  src/components/OverlayPanel/OverlayPanel.js
  src/components/OverlayPanel/OverlayPanel.test.js
Due: none

fix: [UIP-5230] OverlayPanel Content Jump
  packages/astro/src/components/OverlayPanel/OverlayPanel.js
  packages/astro/src/components/OverlayPanel/OverlayPanel.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: Update dependencies for fbjs, lodash, and prism-react-renderer
  package.json
Due: none

fix: Update dependencies for fbjs, lodash, and prism-react-renderer
  packages/astro/package.json
  packages/end-user/package.json
  packages/ui-library/package.json
  yarn.lock
Due: build-no-lockfile, backstop, auto_accept_chromatic

chore(release): publish alpha build
  package.json
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

feat: [UIP-5210] Filter Variant for Button
  src/components/Button/Button.js
  src/components/Button/Button.stories.js
  src/hooks/useAriaLabelWarning/useAriaLabelWarning.js
  src/styles/variants/buttons.js
Due: none

feat: [UIP-5210] Filter Variant for Button
  packages/astro/src/components/Button/Button.js
  packages/astro/src/components/Button/Button.stories.js
  packages/astro/src/hooks/useAriaLabelWarning/useAriaLabelWarning.js
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5062] Deprecate danger and text button variants
  packages/astro/src/components/Breadcrumbs/Breadcrumbs.stories.js
  packages/astro/src/components/Button/Button.js
  packages/astro/src/components/Button/Button.stories.js
  packages/astro/src/components/Modal/Modal.stories.js
  packages/astro/src/layouts/ListLayout.stories.js
  packages/astro/src/recipes/ArrayField.stories.js
  packages/astro/src/recipes/ConditionalFilter.stories.js
  packages/astro/src/recipes/RadioButtonsWithLinks.stories.js
  packages/schema-form/stories/recipes/CustomObjectBuilder.stories.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5062] Deprecate danger and text button variants
  src/components/Breadcrumbs/Breadcrumbs.stories.js
  src/components/Button/Button.js
  src/components/Button/Button.stories.js
  src/components/Modal/Modal.stories.js
  src/layouts/ListLayout.stories.js
  src/recipes/ArrayField.stories.js
  src/recipes/ConditionalFilter.stories.js
  src/recipes/RadioButtonsWithLinks.stories.js
Due: none

fix: [UIP-5217] Input Field in Accordion Clickable
  src/components/AccordionGroup/AccordionGroup.js
  src/components/AccordionGroup/AccordionGroup.test.js
Due: none

fix: [UIP-5217] Input Field in Accordion Clickable
  packages/astro/src/components/AccordionGroup/AccordionGroup.js
  packages/astro/src/components/AccordionGroup/AccordionGroup.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5170] Fix broken RockerButtonGroup and incorrect deps in yarn.lock
  packages/astro/src/components/AccordionGridGroup/AccordionGridContext.js
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.js
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.stories.js
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.test.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItem.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItemBody.js
  packages/astro/src/components/AccordionGridItem/AccordionGridItemHeader.js
  packages/astro/src/components/ListView/ListView.js
  packages/astro/src/components/ListViewItem/ListViewItem.js
  packages/astro/src/components/RockerButton/RockerButton.js
  packages/astro/src/components/RockerButtonGroup/RockerButtonGroup.js
  packages/astro/src/components/RockerButtonGroup/RockerButtonGroup.stories.js
  packages/astro/src/components/RockerButtonGroup/RockerButtonGroup.test.js
  packages/astro/src/components/TextAreaField/TextAreaField.js
  packages/astro/src/context/AccordionGridContext/index.js
  packages/astro/src/hooks/useRockerButton/useRockerButton.js
  packages/astro/src/styles/variants/buttons.js
  yarn.lock
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5170] Fix broken RockerButtonGroup and incorrect deps in yarn.lock
  src/components/AccordionGridGroup/AccordionGridContext.js
  src/components/AccordionGridGroup/AccordionGridGroup.js
  src/components/AccordionGridGroup/AccordionGridGroup.stories.js
  src/components/AccordionGridGroup/AccordionGridGroup.test.js
  src/components/AccordionGridItem/AccordionGridItem.js
  src/components/AccordionGridItem/AccordionGridItemBody.js
  src/components/AccordionGridItem/AccordionGridItemHeader.js
  src/components/ListView/ListView.js
  src/components/ListViewItem/ListViewItem.js
  src/components/RockerButton/RockerButton.js
  src/components/RockerButtonGroup/RockerButtonGroup.js
  src/components/RockerButtonGroup/RockerButtonGroup.stories.js
  src/components/RockerButtonGroup/RockerButtonGroup.test.js
  src/components/TextAreaField/TextAreaField.js
  src/context/AccordionGridContext/index.js
  src/hooks/useRockerButton/useRockerButton.js
  src/styles/variants/buttons.js
Due: none

fix: [UIP-5116] Add content slots to TextAreaField
  packages/astro/src/components/TextAreaField/TextAreaField.js
  packages/astro/src/components/TextAreaField/TextAreaField.stories.js
  packages/astro/src/components/TextAreaField/TextAreaField.test.js
  packages/astro/src/hooks/useField/useField.js
  packages/astro/src/styles/variants/boxes.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5116] Add content slots to TextAreaField
  src/components/TextAreaField/TextAreaField.js
  src/components/TextAreaField/TextAreaField.stories.js
  src/components/TextAreaField/TextAreaField.test.js
  src/hooks/useField/useField.js
  src/styles/variants/boxes.js
Due: none

feat: [UIP-5186] Update react version to 16.8.3 and improve focus for end user
  packages/end-user/package.json
  packages/end-user/src/components/Button/Button.js
  packages/end-user/src/components/Button/Button.story.js
  packages/end-user/src/components/Checkbox/Checkbox.js
  packages/end-user/src/components/Dropdown/Dropdown.js
  packages/end-user/src/components/Dropdown/Dropdown.test.js
  packages/end-user/src/components/DropdownCustomSearchable/DropdownCustomSearchable.js
  packages/end-user/src/components/FloatLabelTextInput/FloatLabelTextInput.story.js
  packages/end-user/src/components/Logo/Logo.js
  packages/end-user/src/components/PasswordInput/PasswordInput.js
  packages/end-user/src/components/SocialButton/SocialButton.js
  packages/end-user/src/components/TextArea/TextArea.js
  packages/end-user/src/components/TextInput/TextInput.js
  packages/end-user/src/components/shared/TabbedSections.js
  packages/end-user/src/css/_global-vars.scss
  packages/end-user/src/css/common/_inputs.scss
  packages/end-user/src/css/components/_button.scss
  packages/end-user/src/css/components/_checkbox.scss
  packages/end-user/src/css/components/_dropdown.scss
  packages/end-user/src/css/components/_float-label.scss
  packages/end-user/src/css/components/_social-button.scss
  packages/end-user/src/css/components/_text-area.scss
  packages/end-user/src/css/components/_text-input.scss
  packages/end-user/src/css/shared/_inputs.scss
  packages/end-user/src/css/styles.scss
  yarn.lock
Due: none

feat: [UIP-5207] Update highlight.js version to >9
  packages/ui-library/package.json
  packages/ui-library/src/components/general/CodeView.jsx
  yarn.lock
Due: backstop

fix: [UIP-5133] UserNav has hard-coded label for Sign Out button
  packages/end-user/src/components/shared/UserNav.js
Due: none

fix: [UIP-5248] Fix PingFed Icons and Add Alert Bell
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_NavFrame_0_output_0_Large_height_standard_width.png
  packages/ui-library/src/css/icons/_style.scss
  packages/ui-library/src/css/icons/_variables.scss
  packages/ui-library/src/css/layout/_header-bar.scss
  packages/ui-library/src/demo/components/panels/NavFrameDemo.jsx
  packages/ui-library/src/fonts/icons/iconfont.svg
  packages/ui-library/src/fonts/icons/iconfont.ttf
  packages/ui-library/src/fonts/icons/iconfont.woff
  packages/ui-library/src/fonts/icons/iconfont.woff2
Due: backstop

docs: Fix Link onPress error and Env Breadcrumb docs error
  packages/astro/src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.js
  packages/astro/src/components/Link/Link.js
Due: build-no-lockfile, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*
