Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build_ci_github_image, build-no-lockfile, backstop, chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build_ci_github_image: any of: shared/docker/github/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  chromatic: (any of: packages/astro/**/*) or ((not (any of: packages/astro/**/*)) and ((not (any of: packages/astro/**/*)) and (any of: packages/astro/**/*)))

chore(release): publish alpha build
  packages/astro/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

chore(release): publish alpha build
  package.json
Due: none

feat: [UIP-5440] Trial exp industry buttons recipe
  packages/astro/src/recipes/TrialExperienceIndustryButtons.stories.js
Due: build-no-lockfile, chromatic

feat: [UIP-5440] Trial exp industry buttons recipe
  src/recipes/TrialExperienceIndustryButtons.stories.js
Due: none

ci: Fix rule for prereleases
  .gitlab-ci.yml
Due: none

ci: Fix rule for prereleases with single quote escape
  .gitlab-ci.yml
Due: none

feat: [UIP-5413] Attributes and PingOne mappings recipe
  packages/astro/src/components/ScrollBox/ScrollBox.js
  packages/astro/src/recipes/AttributesAndPingOneMapping.stories.js
Due: build-no-lockfile, chromatic

feat: [UIP-5413] Attributes and PingOne mappings recipe
  src/components/ScrollBox/ScrollBox.js
  src/recipes/AttributesAndPingOneMapping.stories.js
Due: none

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

feat: [UIP-5367] EnvironmentBreadcrumbs A11Y Improvement
  package.json
  src/components/Breadcrumbs/Breadcrumbs.js
  src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.js
  src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.stories.js
  src/components/Messages/Messages.test.js
  src/styles/variants/buttons.js
Due: none
