Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - default-gitlab-runner
  image: docker.corp.pingidentity.com:5000/testing/ui-library-admin:1.1
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

fix: [UIP-4959] ComboBox re-focus on selected item
  src/components/ComboBoxField/ComboBoxField.js
  src/components/ComboBoxField/ComboBoxField.test.js
Due: none

fix: [UIP-4959] ComboBox re-focus on selected item
  packages/astro/src/components/ComboBoxField/ComboBoxField.js
  packages/astro/src/components/ComboBoxField/ComboBoxField.test.js
Due: build-no-lockfile

feat: [UIP-4993] Add useDebounce hook
  packages/astro/src/components/SearchField/SearchField.stories.js
  packages/astro/src/hooks/index.js
  packages/astro/src/hooks/useDebounce/index.js
  packages/astro/src/hooks/useDebounce/useDebounce.js
  packages/astro/src/hooks/useDebounce/useDebounce.stories.mdx
  packages/astro/src/hooks/useDebounce/useDebounce.test.js
Due: build-no-lockfile

feat: [UIP-4993] Add useDebounce hook
  src/components/SearchField/SearchField.stories.js
  src/hooks/index.js
  src/hooks/useDebounce/index.js
  src/hooks/useDebounce/useDebounce.js
  src/hooks/useDebounce/useDebounce.stories.mdx
  src/hooks/useDebounce/useDebounce.test.js
Due: none

chore(release): publish
  CHANGELOG.md
  package.json
Due: none

chore(release): publish
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop

feat: [UIP-4951] Application search dropdown recipe
  src/components/ListView/ListView.js
  src/components/ListViewItem/ListViewItem.js
  src/recipes/ApplicationSearchDropdown.stories.js
  src/recipes/ScrollableListView.stories.js
  src/styles/variants/buttons.js
Due: none

feat: [UIP-4951] Application search dropdown recipe
  packages/astro/src/components/ListView/ListView.js
  packages/astro/src/components/ListViewItem/ListViewItem.js
  packages/astro/src/recipes/ApplicationSearchDropdown.stories.js
  packages/astro/src/recipes/ScrollableListView.stories.js
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile

chore(release): publish
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop

chore!: [UIP-4912] Node 14 Automate Releases
  Jenkinsfile.astro.release
  src/recipes/RowLineChart.stories.js
Due: none

fix!: [UIP-4912] Update Jenkins container names to match k8s config
  package.json
  src/components/AccordionGridGroup/AccordionGridGroup.js
Due: none

fix!: [UIP-4912] Update Jenkins container names to match k8s config
  Jenkinsfile.general.release
  packages/astro/package.json
  packages/astro/src/components/AccordionGridGroup/AccordionGridGroup.js
  packages/end-user/package.json
  packages/icons/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop

ci: Fix missing variable from Jenkinsfile
  Jenkinsfile.general.release
Due: none

ci: Fix default params value
  Jenkinsfile.general.release
Due: none

ci: Fix default case for branch vars
  Jenkinsfile.general.release
Due: none

ci: Fix env variable access
  Jenkinsfile.general.release
Due: none

ci: Fix missing env variable
  Jenkinsfile.general.release
Due: none

ci: Fix incorrect echo in Jenkinsfile
  Jenkinsfile.general.release
Due: none

ci: Change to using central cluster for Jenkins
  Jenkinsfile.general.release
Due: none

ci: Fix echo command
  Jenkinsfile.general.release
Due: none

ci: Fix Jenkins branch name logic
  Jenkinsfile.general.release
Due: none

ci: Move logic for env.BRANCH_NAME
  Jenkinsfile.general.release
Due: none

ci: Fix git command since Jenkins is on older git version
  Jenkinsfile.general.release
Due: none

ci: Add echo to see branch name
  Jenkinsfile.general.release
Due: none

ci: Move pipeline params stage
  Jenkinsfile.general.release
Due: none

fix: [UIP-5014] Increment and decrement buttons don't need to be focusable
  src/components/NumberField/NumberField.js
  src/components/NumberField/NumberField.test.js
Due: none

fix: [UIP-5014] Increment and decrement buttons don't need to be focusable
  packages/astro/src/components/NumberField/NumberField.js
  packages/astro/src/components/NumberField/NumberField.test.js
Due: build-no-lockfile

ci: Begin using multibranch pipeline for prereleases
  Jenkinsfile.general.prerelease
Due: none

ci: Remove duplicate version stage
  Jenkinsfile.general.prerelease
Due: none

ci: Add git checkout command
  Jenkinsfile.general.prerelease
Due: none

ci: Fix substitution for publish flags
  Jenkinsfile.general.prerelease
Due: none

fix: [UIP-3036] CopyField doesnt allow partial copying
  packages/ui-library/src/util/behaviors/copiesText.js
  packages/ui-library/src/util/behaviors/tests/copiesTextTest.js
Due: none

chore(release): publish
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: backstop

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/*
