Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build_ci_github_image, build-no-lockfile, backstop, chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build_ci_github_image: any of: shared/docker/github/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  chromatic: (any of: packages/astro/**/*) or ((not (any of: packages/astro/**/*)) and ((not (any of: packages/astro/**/*)) and (any of: packages/astro/**/*)))

chore(release): publish alpha build
  packages/astro/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, chromatic

chore(release): publish alpha build
  package.json
Due: none

chore(release): publish stable build
  CHANGELOG.md
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: build-no-lockfile, chromatic

feat: [UIP-5495] ColorField focus
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, chromatic

feat: [UIP-5495] ColorField focus
  src/styles/variants/buttons.js
Due: none

fix: [UIP-5496] Button and link fix focus tests
  packages/astro/src/components/Button/Button.test.js
  packages/astro/src/components/Link/Link.test.js
Due: build-no-lockfile, chromatic

fix: [UIP-5496] Button and link fix focus tests
  src/components/Button/Button.test.js
  src/components/Link/Link.test.js
Due: none

fix: [UIP-5478] use FocusRing component instead of useFocusRing hook
  packages/astro/src/components/RockerButton/RockerButton.js
Due: build-no-lockfile, chromatic

fix: [UIP-5478] use FocusRing component instead of useFocusRing hook
  src/components/RockerButton/RockerButton.js
Due: none

fix: [UIP-5424] CollapsiblePanel focus and visual defects
  packages/astro/src/components/CollapsiblePanel/CollapsiblePanel.js
  packages/astro/src/components/CollapsiblePanel/CollapsiblePanel.stories.js
  packages/astro/src/components/CollapsiblePanelContainer/CollapsiblePanelContainer.js
  packages/astro/src/components/CollapsiblePanelContainer/CollapsiblePanelContainer.test.js
  packages/astro/src/components/CollapsiblePanelItem/CollapsiblePanelItem.js
  packages/astro/src/components/ListView/ListView.js
  packages/astro/src/styles/variants/buttons.js
  packages/astro/src/styles/variants/collapsiblePanel.js
Due: build-no-lockfile, chromatic

fix: [UIP-5424] CollapsiblePanel focus and visual defects
  src/components/CollapsiblePanel/CollapsiblePanel.js
  src/components/CollapsiblePanel/CollapsiblePanel.stories.js
  src/components/CollapsiblePanelContainer/CollapsiblePanelContainer.js
  src/components/CollapsiblePanelContainer/CollapsiblePanelContainer.test.js
  src/components/CollapsiblePanelItem/CollapsiblePanelItem.js
  src/components/ListView/ListView.js
  src/styles/variants/buttons.js
  src/styles/variants/collapsiblePanel.js
Due: none

fix: [UIP-5449] fixing icon spacing for safari
  packages/end-user/src/css/components/_text-input.scss
Due: none

chore(release): publish alpha build
  packages/astro/package.json
  packages/end-user/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, chromatic

feat: [UIP-5491] inline primary button variant
  packages/astro/src/components/Button/Button.stories.js
  packages/astro/src/components/Chip/Chip.stories.js
  packages/astro/src/styles/variants/boxes.js
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, chromatic

feat: [UIP-5491] inline primary button variant
  src/components/Button/Button.stories.js
  src/components/Chip/Chip.stories.js
  src/styles/variants/boxes.js
  src/styles/variants/buttons.js
Due: none

chore: Release with updated versions for Schema Form and Astro
  package.json
Due: none

chore: Release with updated versions for Schema Form and Astro
  packages/astro/package.json
  packages/schema-form/package.json
Due: build-no-lockfile, chromatic

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/end-user/CHANGELOG.md
  packages/end-user/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
Due: build-no-lockfile, chromatic

chore: Release fixed versions of Astro, Schema Form, and UI Library
  packages/astro/package.json
  packages/schema-form/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

chore: Release fixed versions of Astro, Schema Form, and UI Library
  package.json
Due: none

chore(release): publish stable build
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/schema-form/CHANGELOG.md
  packages/schema-form/package.json
  packages/ui-library/CHANGELOG.md
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, chromatic

fix: [UIP-5426] EndUser: long texts in UserNav make tabs wrapping into few lines
  packages/end-user/src/css/shared/_user-nav.scss
Due: none

chore(release): publish alpha build
  packages/end-user/package.json
Due: none

fix: [UIP-5423] PasswordInput icons fix
  packages/end-user/src/css/components/_text-input.scss
Due: none
