Repository pingidentity/astro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ci_stable_image, build_ci_latest_image, build-no-lockfile, backstop, auto_accept_chromatic

build_ci_stable_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$STABLE_IMAGE" ./shared/docker/stable
  - docker push "$STABLE_IMAGE"
  tags:
  - eks-platform-publish-docker

build_ci_latest_image:
  stage: build-ci-image
  script:
  - docker build --pull --tag "$LATEST_IMAGE" ./shared/docker/latest
  - docker push "$LATEST_IMAGE"
  tags:
  - eks-platform-publish-docker

build-no-lockfile:
  stage: build-test-lint
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - yarn --no-lockfile --ignore-engines
  - lerna run build

backstop:
  before_script:
  - yarn --frozen-lockfile
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run demo --scope ui-library
  - lerna run backstop-ci

auto_accept_chromatic:
  stage: screenshot
  tags:
  - default-gitlab-runner
  image: $STABLE_IMAGE
  script:
  - lerna run chromatic -- --auto-accept-changes --project-token=$CHROMATIC_PROJECT_TOKEN --build-script-name demo --scope astro

chore(release): publish alpha build
  packages/astro/package.json
  packages/ui-library/package.json
Due: build-no-lockfile, backstop, auto_accept_chromatic

feat: [UIP-5135] Function to generate mock data
  src/utils/devUtils/constants/animals.js
  src/utils/devUtils/constants/firstNames.js
  src/utils/devUtils/createMockData.js
Due: none

feat: [UIP-5135] Function to generate mock data
  packages/astro/src/utils/devUtils/constants/animals.js
  packages/astro/src/utils/devUtils/constants/firstNames.js
  packages/astro/src/utils/devUtils/createMockData.js
Due: build-no-lockfile, auto_accept_chromatic

chore(release): publish alpha build
  package.json
Due: none

feat: [UIP-5240] Add Storysource addon for end-user
  packages/end-user/.storybook/main.js
Due: none

feat: [UIP-4870] Environment Breadcrumb
  src/components/Breadcrumbs/BreadcrumbItem.js
  src/components/Breadcrumbs/Breadcrumbs.js
  src/components/Breadcrumbs/Breadcrumbs.test.js
  src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.js
  src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.stories.js
  src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.test.js
  src/components/EnvironmentBreadcrumb/index.js
  src/index.js
  src/styles/variants/boxes.js
  src/styles/variants/buttons.js
  src/styles/variants/text.js
Due: none

feat: [UIP-4870] Environment Breadcrumb
  packages/astro/src/components/Breadcrumbs/BreadcrumbItem.js
  packages/astro/src/components/Breadcrumbs/Breadcrumbs.js
  packages/astro/src/components/Breadcrumbs/Breadcrumbs.test.js
  packages/astro/src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.js
  packages/astro/src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.stories.js
  packages/astro/src/components/EnvironmentBreadcrumb/EnvironmentBreadcrumb.test.js
  packages/astro/src/components/EnvironmentBreadcrumb/index.js
  packages/astro/src/index.js
  packages/astro/src/styles/variants/boxes.js
  packages/astro/src/styles/variants/buttons.js
  packages/astro/src/styles/variants/text.js
Due: build-no-lockfile, auto_accept_chromatic

UIP-5205 merging bell icon and updating screenshot
  packages/ui-library/backstop_data/bitmaps_reference/ui_lib_NavFrame_0_output_0_Large_height_standard_width.png
  packages/ui-library/src/demo/components/panels/NavFrameDemo.jsx
Due: backstop

ci: add delay for Infinite Loading List Story
  packages/astro/src/components/ListView/ListView.stories.js
Due: build-no-lockfile, auto_accept_chromatic

ci: add delay for Infinite Loading List Story
  src/components/ListView/ListView.stories.js
Due: none

fix: [UIP-5112] import messages reducer from index.js
  src/components/Messages/Messages.reducer.js
  src/components/Messages/Messages.stories.js
  src/components/Messages/Messages.test.js
  src/components/Messages/index.js
Due: none

fix: [UIP-5112] import messages reducer from index.js
  packages/astro/src/components/Messages/Messages.reducer.js
  packages/astro/src/components/Messages/Messages.stories.js
  packages/astro/src/components/Messages/Messages.test.js
  packages/astro/src/components/Messages/index.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5158] Input Field - Add Story with Copy Button & Slots
  packages/astro/src/components/CopyText/CopyButton.js
  packages/astro/src/components/TextField/TextField.stories.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5158] Input Field - Add Story with Copy Button & Slots
  src/components/CopyText/CopyButton.js
  src/components/TextField/TextField.stories.js
Due: none

docs: [UIP-5242] SearchField - Storybook Demo Update
  src/components/SearchField/SearchField.stories.js
Due: none

docs: [UIP-5242] SearchField - Storybook Demo Update
  packages/astro/src/components/SearchField/SearchField.stories.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5164] Color Block Button Variant
  src/components/Button/Button.stories.js
  src/components/Button/Button.test.js
  src/styles/variants/buttons.js
  src/styles/variants/text.js
Due: none

feat: [UIP-5164] Color Block Button Variant
  packages/astro/src/components/Button/Button.stories.js
  packages/astro/src/components/Button/Button.test.js
  packages/astro/src/styles/variants/buttons.js
  packages/astro/src/styles/variants/text.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5187] HelpHint styling does not match spec and needs story
  packages/astro/src/components/HelpHint/HelpHint.js
  packages/astro/src/components/HelpHint/HelpHint.stories.js
  packages/astro/src/components/HelpHint/HelpHint.test.js
  packages/astro/src/styles/variants/buttons.js
Due: build-no-lockfile, auto_accept_chromatic

feat: [UIP-5187] HelpHint styling does not match spec and needs story
  src/components/HelpHint/HelpHint.js
  src/components/HelpHint/HelpHint.stories.js
  src/components/HelpHint/HelpHint.test.js
  src/styles/variants/buttons.js
Due: none

fix: [UIP-5185] NumberField doesn't seem to accept 'name' prop
  src/components/NumberField/NumberField.js
  src/components/NumberField/NumberField.test.js
Due: none

fix: [UIP-5185] NumberField doesn't seem to accept 'name' prop
  packages/astro/src/components/NumberField/NumberField.js
  packages/astro/src/components/NumberField/NumberField.test.js
Due: build-no-lockfile, auto_accept_chromatic

fix: [UIP-5245] TextFieldArea Default Rows and Story Update
  packages/astro/src/components/TextAreaField/TextAreaField.js
  packages/astro/src/components/TextAreaField/TextAreaField.stories.js
Due: build-no-lockfile, auto_accept_chromatic

Path conditions:
  build_ci_stable_image: any of: shared/docker/stable/Dockerfile
  build_ci_latest_image: any of: shared/docker/latest/Dockerfile
  build-no-lockfile: any of: packages/astro/**/*
  backstop: any of: packages/ui-library/**/*
  auto_accept_chromatic: any of: packages/astro/**/*
